
.onboarding-title{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 32px;
    margin-top: 0px;
}

.onboarding-subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 133%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 55px;
}

.onboarding-button{
    --height: 55px;
}

.onboarding-button span{
    text-transform: none!important;
}

.onboarding-floating-bottom-1{
    $height: 80px;
    height: calc($height + env(safe-area-inset-bottom));
    &>*{
        position: fixed;
        z-index: 9999!important;
        bottom: 0;
        width: 100%;
        padding-bottom: env(safe-area-inset-bottom);
        //padding-bottom: 32px;
        background: var(--ion-background-color);
        height: calc($height + env(safe-area-inset-bottom));
    }
}

.onboarding-floating-bottom-2{
    $height: 150px;
    height: calc($height + env(safe-area-inset-bottom));
    &>*{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: env(safe-area-inset-bottom);
        //padding-bottom: 32px;
        background: var(--ion-background-color);
        height: calc($height + env(safe-area-inset-bottom));
    }
}


// Padding (shared among all other components)
.input-wrapper{
    padding-left: 16px;
    padding-right: 16px;
}

// Used in s2-more-info page (latest version)
.onboarding-floating-bottom-3{
    $height: 120px;
    $extraSafeZone: 30px;
    height: calc($height + env(safe-area-inset-bottom) + $extraSafeZone);
    &>div{
        padding-top: 8px!important; // OVERRIDE the .ion-padding class margin-top
        // background: cyan;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: var(--ion-background-color);
    }
}