<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <app-back-button></app-back-button>
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="formMode == 'onboarding'">Inscription</ion-title>
    <ion-title *ngIf="formMode == 'edit'">Modifier</ion-title>
    <ion-progress-bar value="0.6666666666" *ngIf="formMode == 'onboarding'"></ion-progress-bar>
    <ion-progress-bar [class]="(isLoading?'':'hidden')" type="indeterminate" *ngIf="formMode == 'edit'"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [class]="'loading-placeholder ' + (isLoading ? '' : 'hidden')">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <form [formGroup]="form" (submit)="submit()">

    <div class="ion-padding-horizontal">
      <div class="onboarding-title">
        Passons du coté sportif !
      </div>
      <div class="onboarding-subtitle">
        Décrivez votre activité sportive.
      </div>
    </div>
    
    <div class="input-wrapper">
      <!--<app-chip-input-ng16
        label="Activité sportive"
        placeholder="Décrivez votre activité sportive"
        [options]="activityOptions"
        formControlName="activity"
        [keyAccessor]="activityKeyAccessor"
        [errorText]="displayedError['activity']"
        mode="single"
        [keyEventDisabled]="false"
      ></app-chip-input-ng16>-->
      <app-bubble-multi-selector
        [options]="activityOptions"
        formControlName="activity"
        [keyAccessor]="activityKeyAccessor"
        [errorText]="displayedError['activity']"
        mode="single"
      ></app-bubble-multi-selector>
    </div>



    <div class="onboarding-floating-bottom-3">
      <div class="ion-padding">
        <app-ux-button
          expand="block"
          color="primary"
          shape="round"
          [disabled]="!form.valid"
          [loading]="isLoading"
        >
          <div *ngIf="formMode == 'onboarding'">Continuer</div>
          <div *ngIf="formMode == 'edit'">Mettre à jour</div>
        </app-ux-button>
        <!-- bar here -->
        <app-ux-button
          expand="block"
          fill="clear"
          color="medium"
          shape="round"
          (click)="skip()"
          *ngIf="formMode == 'onboarding'"
          class="skip-button"
          [disabled]="isLoading"
          type="button"
        >
          Pas pour le moment
        </app-ux-button>
      </div>
    </div>
  </form>
</ion-content>
