<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="medium" (click)="cancel()">Annuler</ion-button>
        </ion-buttons>
        <ion-title>Suppression du compte</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirmer</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <p>
        Pour confirmer votre action, veuillez saisir votre mot de passe.
    </p>
    <form [formGroup]="form">
        <ion-item>
            <ion-input
                    type="password"
                    label="Mot de passe"
                    label-placement="floating"
                    formControlName="password"
                    [errorText]="displayedError.password"
            ></ion-input>
        </ion-item>
    </form>
</ion-content>
