


/**
 * The code below are experimental feature for new kind of loader
 */
.loading-placeholder {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900000;
    // background blur
    backdrop-filter: blur(10px);
    background-color: rgba(var(--ion-color-background-rgb), 0.2);

    opacity: 1;
    transition: opacity 0.3s;

    &.hidden{
        z-index: -1;
        opacity: 0;
    }
    // background: red;
}

/**
 * The code below are experimental feature for new kind of loader
 */
ion-progress-bar[type=indeterminate]{
    opacity: 1;
    height: 4px;
    transition: height 0.3s;

    &.hidden{
        opacity: 0;
        height: 0px;
    }
}

.skip-button {
    --background-activated: transparent;
    --background-activated-opacity: 0;
    --ripple-color: transparent;
}