<div class="promo-offer-card">
  <div>
    <div class="header">
      <div class="headText">Économisez</div>
      <div class="percentage">30%</div>
    </div>
    <div class="body">
      <div class="title">Abonnement {{ promoOffer.periodValue }} {{ promoOffer.periodUnit }}</div>
      <div class="subtitle">Pour seulement</div>
      <div class="price display-1">{{ promoOffer.displayPrice }}</div>
    </div>
    <div class="controls">
      <app-ux-button fill="clear" shape="round" [loading]="signatureIsLoading" 
        [disabled]="!offerSignature" [fixedWidth]="true"
        (click)="triggerAction()"
      >Choisir</app-ux-button>
    </div>
  </div>
</div>