

swiper-slide{
    width: 250px;
}

swiper-container{
    position: relative;
    // Do not hide overflow to show shadows
    overflow: visible;
    padding-top: 8px;
    padding-bottom: 8px;
}

swiper-slide{
    overflow: visible;
    padding-top: 8px;
    padding-bottom: 8px;
}



.bubble{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    overflow: hidden;
    
    height: 380px!important;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & app-storefront-item{
        flex-grow: 1;
        --margin-top: 0px;
        --margin-bottom: 0px;
    }
}


.code-prompt{
    display: flex;
    flex-direction: column;

    & .title{
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }
    
    & .subtitle{
        font-size: 16px;
        font-weight: 400;
        line-height: 133%;
        text-align: center;
        margin-top: 20px;
    }

    & .controls{
        margin-top: 20px;
    }
    
    & app-ux-button{
        & .inner{
            text-transform: none;
            font-size: 12px;
        }
    }
}

/**
 * The loader
 */
.loader-placeholder{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(var(--ion-background-color-rgb), 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;

    // The animation
    opacity: 1;
    transition: opacity 0.3s;
    &.hidden{
        z-index: -1;
        opacity: 0;
    }
}