html, body, ion-app, ion-content {
    height: 100%;
    margin: 0;
    padding: 0;
}

.pdf-container{
    height: 100% !important;
    background: rgba(128, 128, 128, 0.136); // to remove
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .doc-image{
        width: 100%;
        max-width: 600px;
    }
}


/*
.pdf-container iframe{
    width: 100%; // useless
    position: absolute;
    border: none;
    border: 3px solid red; // to remove
}
*/

