<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <app-back-button></app-back-button>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ recipe ? recipe.title : "Recette"}}</ion-title>
      <ion-buttons slot="end" *ngIf="user?.function === 'admin' || user?.function === 'coach' || user?.function === 'nutritionist'">
        <ion-button (click)="editRecipe()">
          Modifier
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="pdf-container" *ngIf="docUrl">
    <!--<iframe [src]="pdfUrl" width="100%" height="100%"></iframe>-->
    <img [src]="docUrl" class="doc-image">
  </div>
</ion-content>
