<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Utilisateurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-tab">
    <div>
      <ion-button
        fill="clear"
        color="dark"
        expand="full"
        id="privilege-popover-button"
      >
        <ion-icon slot="icon-only" name="funnel-outline"></ion-icon>
        Filtrer
      </ion-button>
      <ion-popover trigger="privilege-popover-button">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" (click)="filterBy(undefined)">Tous</ion-item>
              <ion-item [button]="true" (click)="filterBy('hoylt')">Pack Hoylt</ion-item>
              <ion-item [button]="true" (click)="filterBy('moreno')">Pack Moreno</ion-item>
              <ion-item [button]="true" (click)="filterBy('alonzo')">Pack Alonzo</ion-item>
              <ion-item [button]="true" (click)="filterBy('food-coach')">Programme alimentaire</ion-item>
              <ion-item [button]="true" (click)="filterBy('sport-coach')">Programme sportif</ion-item>
              <ion-item [button]="true" (click)="filterBy('personal-trainer')">Personal Trainer</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
    <div>
      <ion-button
        fill="clear"
        color="dark"
        expand="full"
        id="date-popover-button"
      >
      </ion-button>
    </div>
  </div>
  <ion-searchbar [formControl]="searchControl"
                  animated="true"
                  placeholder="Rechercher"
                  (keydown.enter)="loadData()"></ion-searchbar>
  <div class="infinite-container">
    <app-infinite-list
      [httpHeaders]="{ 'Authorization': 'Bearer ' + jwtToken }"
      [httpUrl]="contentService.apiEndpoint + '/users'"
      [filter$]="filter$"
      *ngIf="jwtToken"
      (afterLoad)="onAfterLoad($event)"
    >
      <ng-template let-entity>
        <div class="ion-padding-horizontal">
          <div class="card ion-padding">
            <div class="header">
              <div class="avatar-container">
                <!-- <img width="52px" *ngIf="entity.profile_image?.base64" [src]="getSafeImageURL(entity.profile_image)" alt="Profile Picture"/> -->
                <img width="52px" *ngIf="entity.profile_image" [src]="getStaticUrl(entity.profile_image?.permalink)" alt="Profile Picture"/>
                <img width="52px" *ngIf="!entity.profile_image" src="../../../assets/samples/profile-default-01.png" alt="Default Profile Picture"/>
              </div>
              <div class="name-email">
                <div class="name">{{ entity.firstname }} {{ entity.lastname }} 
                  <span *ngIf="entity.function == 'admin'" style="font-weight:400">(admin)</span>
                  <span *ngIf="entity.function == 'coach'" style="font-weight:400">(Coach)</span>
                  <span *ngIf="entity.function == 'nutritionist'" style="font-weight:400">(Nutritionniste)</span>
                </div>
                <div class="email">{{ entity.email }}</div>

                <div class="detail" *ngIf="entity.function === 'customer'">
                  <div>
                    <b class="badge-head">Privilège Actif: </b>
                    <ion-badge *ngFor="let privilege of entity.privileges">
                      {{ privilege }}
                    </ion-badge>
                  </div>
                </div>
              </div>
            </div>
            <div class="controls ion-text-right">
              <ion-button
                fill="clear"
                size="small"
                (click)="showDetailsModal(entity)"
              >
                <ion-icon name="folder-open-outline"></ion-icon>
                Détails
              </ion-button>
              <ion-button
                fill="clear"
                size="small"
                (click)="openChat(entity)"
                *ngIf="entity.function === 'customer'"
              >
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                Contacter
              </ion-button>
            </div>
          </div>
        </div>
      </ng-template>
    </app-infinite-list>
  </div>
</ion-content>