.entity-list{
  ion-card {
    display: flex;
    align-items: center;
  }

  ion-avatar{
    margin: 0em 1em;
  }
}

.top-tab{ // Reused component
  display: flex;
  flex-direction: row;

  & > div{
      // 0 0 50%
      flex: 1;
  }

  & ion-icon{
      font-size: 1.25em;
      margin-right: .2em;
  }

  & ion-button{
      text-transform: none;
  }
}

ion-searchbar{
  padding: 0;
}

.card{
  // Reused
  margin-top: 1em;
  border-radius: 8px;
  border: 1px solid rgba(var(--ion-color-medium-rgb), 0.3);
  // ============

  .avatar-container{
    border-radius: 50%;
    height: 52px;
    width: 52px;
    overflow: hidden;

    & img{
      object-fit: cover;
      width: 100%;
    }
  }

  .header{
    display: flex;
    gap: 1em;

    .name{
      font-weight: 500;
      font-size: 1em;
    }

    .email{
      font-size: 0.8em;
    }

    .detail{
      font-size: 0.8em;
      color: var(--ion-color-medium);
    }
  }

  .controls{

  }

  ion-button{
    ion-icon{
      font-size: 1.2em;
      padding-right: .3em;
    }
  }

  .badge-head{
    display: inline-block;
    vertical-align: middle;
    margin-right: .4em;
  }
  ion-badge{
    font-size: .5em;
    display: inline-block;
    vertical-align: middle;
    margin:.1em;
  }
}