
.recipes-wrapper{
    text-align: center;
}

.recipe{
    display: inline-block;
    width: 120px;
    margin: 10px;
    vertical-align: top;

    & .recipe-image{
        height: 120px;
        width: 120px;
        overflow: hidden;
        border-radius: 50%;
        & img{
            width: 120px;
        }
    }

    & .headings{
        & .title{
            margin-top: 5px;
            color: --ion-color-dark;
        }
        & .subtitle{
            color: #888888;
        }
    }
}

.top-tab{ // Reused component
    display: flex;
    flex-direction: row;
  
    & > div{
        // 0 0 50%
        flex: 1;
    }
  
    & ion-icon{
        font-size: 1.25em;
        margin-right: .2em;
    }
  
    & ion-button{
        text-transform: none;
    }
  }

// Specific to this page
.top-tab{
    margin-bottom: 24px;
}