<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <app-back-button></app-back-button>
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">

      <div class="ion-padding">
          <h2 class="display-1">{{ headerHeadline }}</h2>
          <p class="helper">
              {{ headerHelper }}
          </p>
      </div>

      <ion-item *ngIf="passwordlessLogin">
          <ion-input
                  label="username"
                  label-placement="floating"
                  formControlName="username"
                  readonly
          ></ion-input>
      </ion-item>
    <ion-item>
      <ion-input
        label="Prénom"
        label-placement="floating"
        formControlName="firstname"
        [errorText]="displayedError.firstname"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Nom"
        label-placement="floating"
        formControlName="lastname"
        [errorText]="displayedError.lastname"
      ></ion-input>
    </ion-item>

      <div *ngIf="!passwordlessLogin">
        <ion-item>
          <ion-input
            label="Email"
            label-placement="floating"
            formControlName="email"
            [errorText]="displayedError.email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="password"
            label="Mot de passe"
            label-placement="floating"
            formControlName="password"
            [errorText]="displayedError.password"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="password"
            label="Confirmez le mot de passe"
            label-placement="floating"
            formControlName="password_confirm"
            [errorText]="displayedError.password_confirm"
          ></ion-input>
        </ion-item>
      </div>
    <ion-item>
      <ion-input
        label="Téléphone"
        label-placement="floating"
        formControlName="phone"
        [errorText]="displayedError.phone"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Adresse"
        label-placement="floating"
        formControlName="address"
        [errorText]="displayedError.address"
      ></ion-input>
    </ion-item>

    <div class="ion-text-center ion-padding">
      <ion-button (click)="resetForm()" color="medium" *ngIf="!passwordlessLogin">Réinitialiser</ion-button>
      <ion-button (click)="submitForm()">S'inscrire</ion-button>
    </div>
  </form>
</ion-content>
