<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Programme alimentaire</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="">
    <!-- Put three tab -->
    <app-shop-tabs selectedTab="tab2"></app-shop-tabs>
    <div class="ion-padding">
        <h1 class="display-1">Choisissez un offre de programme alimentaire</h1>
        <p class="helper">
            Le rééquilibrage alimentaire est un processus qui permet de retrouver une alimentation saine et équilibrée. Grâce à quelques modifications des habitudes alimentaires, il permet d'apporter à l'organisme ce dont il a besoin.
        </p>
        <p class="helper">
            L'un des objectifs d'un rééquilibrage alimentaire peut, bien évidemment, être une perte de poids, mais également simplement viser une amélioration de la santé par l'alimentation.
        </p>
    </div>
    <div class="option-list">
        <div class="card ion-padding">
            <h2 class="display-1">Programme alimentaire hebdomadaire (19,99 euros)</h2>
            <p class="helper">
                Profitez d’un programme alimentaire pour 1 semaine.
            </p>
            <ion-button size="normal" color="dark" expand="block" shape="round" (click)="clickOption(7, 1999)">
                Choisir
            </ion-button>
        </div>
        <div class="card ion-padding">
            <h2 class="display-1">Programme alimentaire mensuel (49,99 euros)</h2>
            <p class="helper">
                Profitez d’un programme alimentaire pour 1 mois
            </p>
            <ion-button size="normal" color="warning" expand="block" shape="round" (click)="clickOption(31, 4999)">
                Choisir
            </ion-button>
        </div>
        <div class="card ion-padding">
            <h2 class="display-1">Programme alimentaire 6 semaines (59,99 euros)</h2>
            <p class="helper">
                Profitez d’un programme alimentaire pour 6 semaines
            </p>
            <ion-button size="normal" color="primary" expand="block" shape="round" (click)="clickOption(42, 5999)">
                Choisir
            </ion-button>
        </div>
    </div>
</ion-content>