<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Programme alimentaire</ion-title>
    </ion-toolbar>
    <app-shop-tabs selectedTab="tab2"></app-shop-tabs>
</ion-header>


<ion-content class="">
    <div *ngIf="user && user.grouped_perishables && user.grouped_perishables['food-coach']">
        <p class="helper ion-padding">
            Vous disposez déjà d'un programme alimentaire en cours.
        </p>
        <app-subscription-card
            [entity]="user.grouped_perishables['food-coach']"
            [title]="'Programme alimentaire'"
            [description]="'Vous pouvez utiliser cette abonnement pour accéder à un programme alimentaire personnalisé de Training-Day.'"
            [expiresAt]="user.grouped_perishables['food-coach']['expires_at']"
            [columns]="true"
        ></app-subscription-card>
    </div>
    <!--<div *ngIf="!user || (user && user.grouped_perishables && !user.grouped_perishables['food-coach'])">-->
    <div><!-- always display whether or not the user have it already -->
        <div class="ion-padding">
            <h1 class="display-1">Choisissez un offre de programme alimentaire</h1>
            <p class="helper">
                Le rééquilibrage alimentaire est un processus qui permet de retrouver une alimentation saine et équilibrée. Grâce à quelques modifications des habitudes alimentaires, il permet d'apporter à l'organisme ce dont il a besoin.
            </p>
            <!--
            <p class="helper">
                L'un des objectifs d'un rééquilibrage alimentaire peut, bien évidemment, être une perte de poids, mais également simplement viser une amélioration de la santé par l'alimentation.
            </p>
            -->
        </div>
        <div class="option-list">
            <div class="ion-padding-horizontal">
                <app-storefront-item
                    color="dark"
                    [product]="productList['foodcoach_1w']"
                    [disabled]="user && user.grouped_perishables && user.grouped_perishables['food-coach']"
                    (action)="clickFoodCoachOption('foodcoach_1w')"
                >
                    <div slot="title">
                        Programme alimentaire hebdomadaire
                    </div>
                    <div slot="description">
                        Profitez d’un programme alimentaire pour 1 semaine.
                    </div>
                    <div slot="helper" *ngIf="user && user.grouped_perishables && user.grouped_perishables['food-coach']">
                        Vous avez déjà un programme alimentaire en cours. Vous ne pouvez pas souscrire à un autre programme alimentaire.
                    </div>
                </app-storefront-item>
                <app-storefront-item
                    color="warning"
                    [product]="productList['foodcoach_4w']"
                    [disabled]="user && user.grouped_perishables && user.grouped_perishables['food-coach']"
                    (action)="clickFoodCoachOption('foodcoach_4w')"
                >
                    <div slot="title">
                        Programme alimentaire mensuel
                    </div>
                    <div slot="description">
                        Profitez d’un programme alimentaire pour 1 mois
                    </div>
                    <div slot="helper" *ngIf="user && user.grouped_perishables && user.grouped_perishables['food-coach']">
                        Vous avez déjà un programme alimentaire en cours. Vous ne pouvez pas souscrire à un autre programme alimentaire.
                    </div>
                </app-storefront-item>
                <app-storefront-item
                    color="primary"
                    [product]="productList['foodcoach_6w']"
                    [disabled]="user && user.grouped_perishables && user.grouped_perishables['food-coach']"
                    (action)="clickFoodCoachOption('foodcoach_6w')"
                >
                    <div slot="title">
                        Programme alimentaire 6 semaines
                    </div>
                    <div slot="description">
                        Profitez d’un programme alimentaire pour 6 semaines
                    </div>
                    <div slot="helper" *ngIf="user && user.grouped_perishables && user.grouped_perishables['food-coach']">
                        Vous avez déjà un programme alimentaire en cours. Vous ne pouvez pas souscrire à un autre programme alimentaire.
                    </div>
                </app-storefront-item>
                

                <!-- ========================= -->
            </div>
            <!--
            <div class="card ion-padding">
                <h2 class="display-1">Programme alimentaire hebdomadaire (
                    {{ productList.hasOwnProperty('foodcoach_1w') ? productList['foodcoach_1w'].displayPrice : 'Temporairement indisponible' }}
                    )</h2>
                <p class="helper">
                    Profitez d’un programme alimentaire pour 1 semaine.
                </p>
                <ion-button
                        color="dark"
                        expand="block"
                        shape="round"
                        (click)="clickFoodCoachOption('foodcoach_1w')"
                        [disabled]="!productList.hasOwnProperty('foodcoach_1w') || (user && user.grouped_perishables && user.grouped_perishables['food-coach'])"
                >
                    Choisir
                </ion-button>
                <p class="ion-text-center" style="font-size: small" *ngIf="user && user.grouped_perishables && user.grouped_perishables['food-coach']">
                    Vous avez déjà un programme alimentaire en cours. Vous ne pouvez pas souscrire à un autre programme alimentaire.
                </p>
            </div>
            <div class="card ion-padding">
                <h2 class="display-1">Programme alimentaire mensuel (
                    {{ productList.hasOwnProperty('foodcoach_4w') ? productList['foodcoach_4w'].displayPrice : 'Temporairement indisponible' }}
                    )</h2>
                <p class="helper">
                    Profitez d’un programme alimentaire pour 1 mois
                </p>
                <ion-button size="normal"
                            color="warning"
                            expand="block"
                            shape="round"
                            (click)="clickFoodCoachOption('foodcoach_4w')"
                            [disabled]="!productList.hasOwnProperty('foodcoach_4w') && (user && user.grouped_perishables && user.grouped_perishables['food-coach'])"
                >
                    Choisir
                </ion-button>
                <p class="ion-text-center" style="font-size: small" *ngIf="user && user.grouped_perishables && user.grouped_perishables['food-coach']">
                    Vous avez déjà un programme alimentaire en cours. Vous ne pouvez pas souscrire à un autre programme alimentaire.
                </p>
            </div>
            <div class="card ion-padding">
                <h2 class="display-1">Programme alimentaire 6 semaines (
                    {{ productList.hasOwnProperty('foodcoach_6w') ? productList['foodcoach_6w'].displayPrice : 'Temporairement indisponible'}}
                    )</h2>
                <p class="helper">
                    Profitez d’un programme alimentaire pour 6 semaines
                </p>
                <ion-button size="normal"
                            color="primary"
                            expand="block"
                            shape="round"
                            (click)="clickFoodCoachOption('foodcoach_6w')"
                            [disabled]="!productList.hasOwnProperty('foodcoach_6w') || (user && user.grouped_perishables && user.grouped_perishables['food-coach'])"
                >
                    Choisir
                </ion-button>
                <p class="ion-text-center" style="font-size: small" *ngIf="user && user.grouped_perishables && user.grouped_perishables['food-coach']">
                    Vous avez déjà un programme alimentaire en cours. Vous ne pouvez pas souscrire à un autre programme alimentaire.
                </p>
            </div>
        -->
        </div>
    </div>
</ion-content>