


// Inherited from the old page
@import 'src/theme/mixins.scss';

// Warning, the code below is reused (TODO later)
.password-toggle{
    @include password-toggle;
}

// WARNING, THE CODE BELOW IS REUSED
.phone-input-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    & app-phone-prefix-select{
        min-width: 200px;
    }
}

// City and postal code
.city-postal-code{
    display: flex;
    flex-direction: row;
    align-items: center;
    & ion-item{
        flex-grow: 1;
    }
}

// The link
a, .a{
    z-index: 99999;
    cursor: pointer;
    text-decoration: none;
    color: var(--ion-color-primary);
}


// INput error
.input-error{
    margin-top: 5px;
    color: var(--ion-color-danger);
    font-size: 12px!important;
}
