<ion-content [fullscreen]="true">
  <p></p>
  <div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </div>

  <h2 class="ion-padding">Choisissez un programme sportif adapté à vos besoins</h2>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Jogging Essentials</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Programme de jogging adapté à tous les niveaux. Améliorez votre endurance et maintenez une vie active.</p>
      <div class="ion-padding ion-text-right">
        <span>A partir de 20€/mois</span>
        <ion-button color="medium" fill="clear">Choisir</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fitness Total</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Entraînement fitness complet pour sculpter votre corps et améliorer votre santé globale.</p>
      <div class="ion-padding">
        <span>A partir de 30€/mois</span>
        <ion-button color="primary" fill="clear">Choisir</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cyclisme Intense</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Programme de cyclisme pour les passionnés. Renforcez vos jambes et profitez des paysages tout en vous entraînant.</p>
      <div class="ion-padding ion-text-right">
        <span>A partir de 40€/mois</span>
        <ion-button color="danger" fill="clear">Choisir</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
