<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <app-back-button></app-back-button>
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="formMode == 'onboarding'">Inscription</ion-title>
    <ion-title *ngIf="formMode == 'edit'">Modifier</ion-title>
    <ion-progress-bar value="0.8888888888" *ngIf="formMode == 'onboarding'"></ion-progress-bar>
    <ion-progress-bar [class]="(isLoading?'':'hidden')" type="indeterminate" *ngIf="formMode == 'edit'"></ion-progress-bar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div [class]="'loading-placeholder ' + (isLoading ? '' : 'hidden')">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <form [formGroup]="form" (submit)="submit()">

    <div class="ion-padding-horizontal">
      <div class="onboarding-title">
        As-tu des soucis de santé ?
      </div>
      <div class="onboarding-subtitle">
        Il y a quelque chose qui te semble pertinent et que ton coach doit prendre en compte ?
      </div>
    </div>

    <div class="input-wrapper multi-selector-wrapper">
      <app-bubble-multi-selector
        [options]="healthConditionsOptions"
        formControlName="healthConditions"
        [keyAccessor]="healthConditionsKeyAccessor"
        [errorText]="displayedError.healthConditions"
        mode="multiple"
      ></app-bubble-multi-selector>
    </div>
    <div [class]="'input-wrapper animated ' + (form.get('healthConditions').value.includes('Autre(s)') ? '' : 'hidden')">
      <app-outline-input
        label="Autre(s)"
        formControlName="otherHealthConditions"
        [errorText]="displayedError.otherHealthConditions"
      ></app-outline-input>
    </div>

    <br/><br/><br/><br/><br/><br/>
    <div class="onboarding-floating-bottom-1">
      <div class="ion-padding">
        <app-ux-button
          expand="block" 
          color="primary" 
          shape="round" 
          [disabled]="!form.valid"
          [loading]="isLoading"
        >
          <div *ngIf="formMode == 'onboarding'">Continuer</div>
          <div *ngIf="formMode == 'edit'">Mettre à jour</div>
        </app-ux-button>
      </div>
    </div>
  </form>
</ion-content>