<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Annuler</ion-button>
    </ion-buttons>
    <ion-title>
      {{ entity ? "Détails sur l'utilisateur" : 'Nouvel utilisateur' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="confirm()">
        {{ entity ? 'Modifier' : 'Ajouter' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <div class="profile-image-container">
      <ion-avatar>
        <img width="52px" *ngIf="entity.profile_image" [src]="getStaticUrl(entity.profile_image?.permalink)" alt="Profile Picture"/>
        <img width="52px" *ngIf="!entity.profile_image" src="../../../assets/samples/profile-default-01.png" alt="Default Profile Picture"/>
      </ion-avatar>
      <ion-item>
        <ion-input
          label="Profile picture"
          type="file"
          label-placement="floating"
          name="profile_image"
        ></ion-input>
      </ion-item>
    </div>
    <ion-item>
      <ion-input
        label="Email"
        label-placement="floating"
        formControlName="email"
        [errorText]="displayedError.email"
      ></ion-input>
    </ion-item>
    <ion-item *ngIf="false">
      <ion-select
        label="Rôle"
        label-placement="floating"
        formControlName="role"
      >
        <ion-select-option value="admin">Administrateur</ion-select-option>
        <ion-select-option value="customer">Client</ion-select-option>
        <ion-select-option value="coach">Coach</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="false">
      <ion-input
        type="password"
        label="Mot de passe"
        label-placement="floating"
        formControlName="password"
        [errorText]="displayedError.password"
      ></ion-input>
    </ion-item>
    <ion-item *ngIf="false">
      <ion-input
        type="password"
        label="Confirmez le mot de passe"
        label-placement="floating"
        formControlName="password_confirm"
        [errorText]="displayedError.password_confirm"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Prénom"
        label-placement="floating"
        formControlName="firstname"
        [errorText]="displayedError.firstname"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Nom"
        label-placement="floating"
        formControlName="lastname"
        [errorText]="displayedError.lastname"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Téléphone"
        label-placement="floating"
        formControlName="phone"
        [errorText]="displayedError.phone"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Adresse"
        label-placement="floating"
        formControlName="address"
        [errorText]="displayedError.address"
      ></ion-input>
    </ion-item>
  </form>
  <div *ngIf="entity.function === 'customer'">
    <h1 class="ion-padding">Privileges</h1>
    <div class="ion-padding-horizontal">
      <div class="card ion-padding" *ngIf="
        entity.privileges.includes('hoylt') ||
        entity.privileges.includes('moreno') ||
        entity.privileges.includes('alonzo')
      ">
        <div class="left">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <div class="right">
          <div class="head">Pack <span class="capitalize"></span>{{ entity.privileges[0] }}</div>
          <div class="expires_at">Expire le <b>{{ entity.expires_at | date: 'dd MMM. yyyy' }}</b></div>
        </div>
      </div>

      <div class="card ion-padding" *ngFor="let perishable of entity.grouped_perishables">
        <div class="left">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <div class="right">
          <div class="head">{{ perishable.label }}</div>
          <div class="expires_at" *ngIf="perishable.slug == 'food-coach' || perishable.slug == 'sport-coach'">
            Expire le <b>
              {{ perishable.expires_at | date: 'dd MMM. yyyy' }}
            </b>
          </div>
          <div class="consumables" *ngIf="perishable.slug == 'personal-trainer'">
            Séance{{ perishable.consumables>1?'s':'' }} restante{{ perishable.consumables>1?'s':'' }}: <b>{{ perishable.consumables }}</b>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
  </div>
</ion-content>
