<div class="upload-video">
    <!-- Accept mp4 and mov -->
    <input type="file" #fileInput class="ion-hide" accept="video/mp4,video/quicktime" (change)="uploadVideo($event)">
    <ion-button
        color="medium"
        fill="solid"
        expand="block"
        size="small"
        (click)="clickButton($event)"
    >  
        <div class="inner">
            <ion-icon name="cloud-upload-outline"></ion-icon>
            <ion-label *ngIf="autoload || (!autoload && !formControl.value)">{{ label }}</ion-label>
            <ion-label *ngIf="!autoload && formControl.value">{{ formControl.value.name }}</ion-label>
        </div>
    </ion-button>
</div>