<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>S'abonner à nos services</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-shop-tabs selectedTab="tab1"></app-shop-tabs>
    <h1 class="display-1 ion-padding">Maîtrisez votre budget et choisissez l’offre d’abonnement qui vous convient</h1>

    <div class="option-list">
        <div class="card ion-padding">
            <h2 class="display-1">Pack Hoylt (14,99 euros)</h2>
            <p class="helper">
                Découvrez notre offre de base incluant un accès illimité aux trainings sur la plateforme pour vous accompagner dans votre parcours.
            </p>
            <ion-button size="normal" color="dark" expand="block" (click)="clickOption('pack-videos')" shape="round">
                Choisir
            </ion-button>
        </div>
        <div class="card ion-padding">
            <h2 class="display-1">Pack Moreno (29,99 euros)</h2>
            <p class="helper">
                Accédez à une expérience premium avec un accompagnement et un suivi personnalisé avec votre coach. Accès à la messagerie, pour un accompagnement et un suivi personnalisé. Prenez rendez-vous avec votre coach.
            </p>
            <ion-button size="normal" color="warning" expand="block" (click)="clickOption('pack-videos-coach')" shape="round">
                Choisir
            </ion-button>
        </div>
        <div class="card ion-padding">
            <h2 class="display-1">Pack alonzo (69,99 euros)</h2>
            <p class="helper">
                Optez pour notre pack complet comprenant des vidéos enrichissantes, un coach dédié pour vous guider et un nutritionniste pour vous aider à atteindre vos objectifs santé et de bien-être.
            </p>
            <ion-button size="normal" color="primary" expand="block" (click)="clickOption('pack-videos-coach-nutritionniste')" shape="round">
                Choisir
            </ion-button>
        </div>
    </div>

</ion-content>
