<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>S'abonner à nos services</ion-title>
    </ion-toolbar>
    <app-shop-tabs selectedTab="tab1"></app-shop-tabs>
</ion-header>

<ion-content>
    <div *ngIf="!environment.paymentServiceEnabled">
        <h2 class="ion-padding-horizontal display-1">Boutique</h2>
        <p class="helper ion-padding-horizontal">
            La boutique sera disponible prochainement. Vous pourrez y retrouver des produits et services pour vous accompagner dans votre parcours de remise en forme.
        </p>
    </div>
    <div *ngIf="environment.paymentServiceEnabled">
        <div *ngIf="true">
            <br/>
            <br/>
            <div class="option-list ion-padding" *ngIf="user && user?.renewable_id && active_entitled_subscription">
                <h1 class="display-1 ion-text-center">Vous disposez actuellement d'un abonnement {{ user.renewable_id }}</h1>

                <!--<p class="ion-text-center">
                    <ion-button (click)="manageSubscription()">Gérer mes abonnements</ion-button>
                </p>-->
            </div>
            <div class="option-list ion-padding" *ngIf="user && !user?.renewable_id && active_entitled_subscription && is_ios">
                <h1 class="display-1 ion-text-center">Vous disposez actuellement d'un {{ active_entitled_subscription.display_name }} pour cet appareil iOS</h1>
                <p class="ion-text-center">
                    <ion-button (click)="manageSubscription()">Gérer mes abonnements</ion-button>
                </p>
            </div>
            <div class="option-list ion-padding" *ngIf="user && !user?.renewable_id && active_entitled_subscription && is_android">
                <h1 class="display-1 ion-text-center">Vous disposez actuellement d'un {{ active_entitled_subscription.display_name }} pour cet appareil Android</h1>
                <p class="ion-text-center">
                    <!-- TODO, will be updated later -->
                    <!--<ion-button (click)="manageSubscription()">Gérer mes abonnements</ion-button>-->
                </p>
            </div>
            <div class="option-list ion-padding" *ngIf="user && user?.renewable_id && !active_entitled_subscription">
                <h1 class="display-1 ion-text-center">Vous disposez actuellement d'un abonnement {{ user.renewable_id }} pour ce compte utilisateur</h1>
            </div>
            <br/>

            <!--<div class="option-list" *ngIf="!user || (user && !user?.renewable_id && !active_entitled_subscription )">-->
            <div class="option-list"><!-- to always display whether the user have subscription or not -->
                <h1 class="display-1 ion-padding" *ngIf="!user || (user && !user?.renewable_id && !active_entitled_subscription )">Maîtrisez votre budget et choisissez l’offre d’abonnement qui vous convient<br/></h1>
                
                <div class="ion-padding-horizontal">
                    <!--<app-storefront-item
                        color="dark"
                        [product]="productList['hoylt']"
                        [disabled]="user && (user.renewable_id && !active_entitled_subscription)"
                        (action)="clickSubscriptionOption('hoylt')"
                    >
                        <div slot="title">
                            Pack Hoylt
                        </div>
                        <div slot="description">
                            Découvrez notre offre de base incluant un accès aux trainings sur la plateforme et aux outils de suivi.
                            L'offre inclut aussi un bilan mensuel avec votre coach.
                        </div>
                        <div slot="helper" *ngIf="user && (user.renewable_id && !active_entitled_subscription)">
                            Vous avez déjà un abonnement actif. Vous ne pouvez pas souscrire à un autre abonnement.
                        </div>
                    </app-storefront-item>-->
                    <app-storefront-item
                        color="dark"
                        [product]="productList['gursky']"
                        [disabled]="user && (user.renewable_id && !active_entitled_subscription)"
                        (action)="clickSubscriptionOption('gursky')"
                    >
                        <div slot="title">
                            Pack Gursky
                        </div>
                        <div slot="description">
                            Découvrez notre offre de base incluant un accès aux trainings sur la plateforme et aux outils de suivi.
                            L'offre inclut aussi un bilan mensuel avec votre coach.
                        </div>
                        <div slot="helper" *ngIf="user && (user.renewable_id && !active_entitled_subscription)">
                            Vous avez déjà un abonnement actif. Vous ne pouvez pas souscrire à un autre abonnement.
                        </div>
                    </app-storefront-item>
                    <app-storefront-item
                        color="warning"
                        [product]="productList['moreno']"
                        [disabled]="user && (user.renewable_id && !active_entitled_subscription)"
                        (action)="clickSubscriptionOption('moreno')"
                    >
                        <div slot="title">
                            Pack Moreno
                        </div>
                        <div slot="description">
                            Découvrez notre offre de base incluant un accès aux trainings sur la plateforme et aux outils de suivi, un bilan mensuel et
                            un suivi et accompagnement par votre coach.
                        </div>
                        <div slot="helper" *ngIf="user && (user.renewable_id && !active_entitled_subscription)">
                            Vous avez déjà un abonnement actif. Vous ne pouvez pas souscrire à un autre abonnement.
                        </div>
                    </app-storefront-item>
                    <app-storefront-item
                        color="danger"
                        [product]="productList['smiley']"
                        [disabled]="user && (user.renewable_id && !active_entitled_subscription)"
                        (action)="clickSubscriptionOption('smiley')"
                    >
                        <div slot="title">
                            Pack Smiley
                        </div>
                        <div slot="description">
                            Découvrez notre offre de base incluant un accès aux trainings sur la plateforme et aux outils de suivi, un bilan mensuel et
                            un suivi et accompagnement par le nutritionnist.
                        </div>
                        <div slot="helper" *ngIf="user && (user.renewable_id && !active_entitled_subscription)">
                            Vous avez déjà un abonnement actif. Vous ne pouvez pas souscrire à un autre abonnement.
                        </div>
                    </app-storefront-item>
                    <app-storefront-item
                        color="primary"
                        [product]="productList['alonzo']"
                        [disabled]="user && (user.renewable_id && !active_entitled_subscription)"
                        (action)="clickSubscriptionOption('alonzo')"
                    >
                        <div slot="title">
                            Pack alonzo
                        </div>
                        <div slot="description">
                            Découvrez notre offre de base incluant un accès aux trainings sur la plateforme et aux outils de suivi, un bilan mensuel,
                            un suvi et accompagnement avec votre coach.
                            Cette offre inclut aussi un bilan et suivi diététique avec un nutritionniste.
                        </div>
                        <div slot="helper" *ngIf="user && (user.renewable_id && !active_entitled_subscription)">
                            Vous avez déjà un abonnement actif. Vous ne pouvez pas souscrire à un autre abonnement.
                        </div>
                    </app-storefront-item>
                </div>

                <!--
                <div class="card ion-padding">
                    <h2 class="display-1">Pack Hoylt (
                        {{ productList.hasOwnProperty('hoylt') ? productList['hoylt'].displayPrice + '/mois' : 'Temporairement indisponible' }}
                        )</h2>
                    <p class="helper">
                        Découvrez notre offre de base incluant un accès aux trainings sur la plateforme et aux outils de suivi.
                        L'offre inclut aussi un bilan mensuel avec votre coach.
                    </p>
                    <ion-button
                            size="normal"
                            color="dark"
                            expand="block"
                            shape="round"
                            (click)="clickSubscriptionOption('hoylt')"
                            [disabled]="!productList.hasOwnProperty('hoylt') || (user && (user.renewable_id && !active_entitled_subscription))"
                    >
                        Choisir
                    </ion-button>
                    <p class="ion-text-center" style="font-size: small" *ngIf="user && (user.renewable_id && !active_entitled_subscription)">
                        Vous avez déjà un abonnement actif. Vous ne pouvez pas souscrire à un autre abonnement.
                    </p>
                </div>
                <div class="card ion-padding">
                    <h2 class="display-1">Pack Moreno (
                        {{ productList.hasOwnProperty('moreno') ? productList['moreno'].displayPrice + '/mois' : 'Temporairement indisponible' }}
                        )</h2>
                    <p class="helper">
                        Découvrez notre offre de base incluant un accès aux trainings sur la plateforme et aux outils de suivi, un bilan mensuel et
                        un suivi et accompagnement par votre coach.
                    </p>
                    <ion-button
                            size="normal"
                            color="warning"
                            expand="block"
                            shape="round"
                            (click)="clickSubscriptionOption('moreno')"
                            [disabled]="!productList.hasOwnProperty('moreno') || (user && (user.renewable_id && !active_entitled_subscription))"
                    >
                        Choisir
                    </ion-button>
                    <p class="ion-text-center" style="font-size: small" *ngIf="user && (user.renewable_id && !active_entitled_subscription)">
                        Vous avez déjà un abonnement actif. Vous ne pouvez pas souscrire à un autre abonnement.
                    </p>
                </div>
                <div class="card ion-padding">
                    <h2 class="display-1">Pack alonzo
                        ({{ productList.hasOwnProperty('alonzo') ? productList['alonzo'].displayPrice + '/mois' : 'Temporairement indisponible' }})
                        </h2>
                    <p class="helper">
                        Découvrez notre offre de base incluant un accès aux trainings sur la plateforme et aux outils de suivi, un bilan mensuel,
                        un suvi et accompagnement avec votre coach.
                        Cette offre inclut aussi un bilan et suivi diététique avec un nutritionniste.
                    </p>
                    <ion-button
                            size="normal"
                            color="primary"
                            expand="block"
                            shape="round"
                            (click)="clickSubscriptionOption('alonzo')"
                            [disabled]="!productList.hasOwnProperty('alonzo') || (user && (user.renewable_id && !active_entitled_subscription))"
                    >
                        Choisir
                    </ion-button>
                    <p class="ion-text-center" style="font-size: small" *ngIf="user && (user.renewable_id && !active_entitled_subscription)">
                        Vous avez déjà un abonnement actif. Vous ne pouvez pas souscrire à un autre abonnement.
                    </p>
                </div>
                -->
            </div>
        </div>
    </div>
</ion-content>
