<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <app-back-button></app-back-button>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- some header here (according to the new theme) -->
  <div class="video-home">

    <div class="ion-padding-horizontal">
      <div class="title">
        Choisi ton Training
      </div>
      <div class="subtitle">
        Ces contenus ont été sélectionnés pour vous aider à progresser dans votre entraînement.
      </div>
    </div>

    <div class="card-list">
      <!-- Training everyday -->
      <app-rounded-card
        [routerLink]="['/exercise-categories']"
        [queryParams]="{ category: 'training' }"
      >
        <div slot="image">
          <img title="Training of the day" src="../../../assets/medias/rounded-cards/sample-image-training-of-the-day.jpg"/>
        </div>
        <div slot="title">
          Training of the day
        </div>
        <div slot="description">
          Explore des programmes sportifs adaptés à ton niveau et construits autour de tes objectifs personnels. 
        </div>
      </app-rounded-card>

      <!-- Boxing everyday -->
      <app-rounded-card
        [routerLink]="['/exercise-categories']"
        [queryParams]="{ category: 'boxing' }"
      >
        <div slot="image">
          <img title="Training of the day" src="../../../assets/medias/rounded-cards/sample-image-boxing-of-the-day.jpg"/>
        </div>
        <div slot="title">
          Boxing of the day
        </div>
        <div slot="description">
          De l’initiation aux entraînements avancés, progresse en boxe selon tes objectifs personnels.
        </div>
      </app-rounded-card>
    </div>
  </div>
  
  <app-button-to-chat></app-button-to-chat>
  <app-bottom-navbar-placeholder></app-bottom-navbar-placeholder>
</ion-content>