
@import "../../../mixins";

.profile-image-container{
  text-align: center !important;
  @include v-padding;

  & ion-avatar{
    margin: auto;
    width: 180pt;
    height: 180pt;
  }
  img{
    margin: auto;
  }
}

.text-bigger{
  font-size: .9rem;
  font-weight: 600;
}

ion-item b{
  padding-left: .2em;
}


// WARNING, THE CODE BELOW IS REUSED
.phone-input-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  & app-phone-prefix-select{
      min-width: 200px;
  }
}

// formerly ion-item including a slot='end'
.span-button{
  // padding-left: 24px;
  // padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  & > span{
    flex-grow: 1;
    font-size: 0.8em;
    display: inline-block;
    height: 100%;
  }
  & ion-button{
    text-transform: none;
  }
}

/**
 * The info-table (!! warning, THE CODE BELOW IS REUSED by user-view.component !!)
 */

.info-table-wrapper{
  padding-top: 15px;
  padding-bottom: 5px;
}

.info-table-heading{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  & > div{
    font-weight: 600;
  }
}

.info-table{
  & {
    width: 100%;
    border-collapse: collapse;
    //background: #fff;
    overflow: hidden;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  & tr {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      border-bottom: 1px solid var(--ion-color-darkgrey);
  }

  & tr:last-child {
      border-bottom: none;
  }

  & td {
      padding: 5px;
      font-size: 16px;
      color: var(--ion-color-darkgrey);
  }

  & td:first-child {
      // font-weight: bold;
      color: var(--ion-color-dark);
  }
}