<app-page-wrapper-basic
  title="Liste des fichiers"
  defaultBackHref="/manage"
  (onDelete)="deleteBatch()"
>
  <div class="content">
    <ion-searchbar [formControl]="searchControl"
                   animated="true"
                   placeholder="Animated"
                   (keydown.enter)="loadData()"></ion-searchbar>
    <app-pagination
      [pageSegments]="pageSegments"
      (onNavigate)="updatePage($event)"
    ></app-pagination>
    <ion-card *ngFor="let entity of entityList">
      <ion-card-header>
        <ion-checkbox [formControl]="getCheckboxControl(entity)">{{ entity.name }}</ion-checkbox>
      </ion-card-header>
    </ion-card>
  </div>
</app-page-wrapper-basic>
