<app-page-wrapper-basic
  title="Liste des fichiers"
  defaultBackHref="/manage"
>
  <div class="content">
    <ion-card>
      <ion-card-content>
        <p>
          <a routerLink="/manage/files/add">Ajouter un fichier</a>
          <br/>
          <a routerLink="/">Accueil</a>
        </p>
      </ion-card-content>
    </ion-card>
    <app-pagination
      [pageSegments]="pageSegments"
      (onNavigate)="updatePage($event)"
    ></app-pagination>
    <ion-card *ngFor="let entity of entityList">
      <ion-card-header>
        <ion-checkbox>{{ entity.name }}</ion-checkbox>
      </ion-card-header>
    </ion-card>
  </div>
</app-page-wrapper-basic>
