<div [class]="'storefront-item ' + variant">
  <h2 class="display-1">
    <ng-content select="*[slot='title']"></ng-content>
    <div *ngIf="!product" class="price">
      -
    </div>
    <div *ngIf="product" class="price">
      <div class="prefix">{{ displayPricePrefix }}</div>
      <div class="main">{{ displayPrice }}</div>
      <div class="suffix" *ngIf="displayPriceSuffix">{{ displayPriceSuffix }}</div>
      <div class="suffix" *ngIf="!displayPriceSuffix">/mois</div>
    </div>
  </h2>
  <p class="description">
    <ng-content select="*[slot='description']"></ng-content>
  </p>
  <ion-button
    [color]="color"
    expand="block"
    shape="round"
    (click)="triggerAction()"
    [disabled]="disabled || !product"
    *ngIf="loggedIn"
  >
    Choisir
  </ion-button>
  <ion-button
    [color]="color"
    expand="block"
    shape="round"
    routerLink="/login"
    *ngIf="!loggedIn"
  >
    Se connecter pour continuer
  </ion-button>
  <p class="helper ion-text-center">
    <ng-content select="*[slot='helper']"></ng-content>
  </p>
</div>