

.storefront-item{
    margin-top: var(--margin-top, 46px);
    margin-bottom: var(--margin-bottom, 46px);
    & .display-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    & .price{
        // Fit all text in one row
        //white-space: nowrap;
        min-width: 60px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .prefix, & .suffix{
            color: var(--ion-color-lightgrey);
            font-size: 14px;
            height: 16px;
        }
        & .weekly-price{
            font-weight: bold;
            font-size: 16px;
            margin-top: 4px;
            display: inline;
        }
    }

    & .description{
        font-size: .9em;
        color: var(--ion-color-medium);
    }

    & .helper{
        font-size: small;
        color: var(--ion-color-medium)!important;
    }


    &.swipeable{
        height: 100%;
        & h2{
            margin-top: 0!important;
        }
        & p.description{
            margin: 0!important;
            flex-grow: 1;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between
        ion-button{
            margin-top: 12px;
        }
    }
}