<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mot de passe oublié</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <h1 class="display-1">Réinitialiser votre mot de passe</h1>
        <p class="helper">
            Veuillez entrer votre adresse e-mail pour réinitialiser votre mot de passe.
        </p>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-item class="ion-margin-vertical">
            <ion-input
                    label="Email"
                    label-placement="floating"
                    formControlName="email"
                    [errorText]="displayedError.email"
            ></ion-input>
        </ion-item>
        <br/>
        <div class="ion-padding">
            <app-ux-button
                type="submit" 
                expand="block" 
                shape="round" 
                [disabled]="form.invalid"
                [loading]="isLoading"
            >
                Réinitialiser
            </app-ux-button>
        </div>
    </form>
</ion-content>
