<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes suivis</ion-title>
  </ion-toolbar>
</ion-header>

<div class="card-list" style="height: 100%; overflow-y: auto;"><!-- มันเป็นวีธีที่ดีสำหรับคอนเทนต์ในการใช้งาน ionic framework -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Running</ion-card-title>
      <ion-card-subtitle>Entraînnez vous à la course quotidiennement</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Course matinale de 5 km</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Entraînement en salle de sport</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Course à pied dans le parc</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Entraînement en montagne</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fitness</ion-card-title>
      <ion-card-subtitle>Atteignez vos objectifs de remise en forme</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Dumbbell icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Séance d'haltérophilie</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Yoga pose icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Séance de yoga matinale</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Running shoes icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Course à pied légère</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Weight scale icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Contrôle du poids</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vélo</ion-card-title>
      <ion-card-subtitle>Explorez le monde à vélo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Bicycle icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Balade à vélo dans le quartier</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Mountain bike icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Randonnée en VTT</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Cycling race icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Participation à une course cycliste</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Bike repair icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Apprendre la réparation de vélos</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</div>
