@import "../../../mixins.scss";

h1{
  @include display-1;
}

h2{
  @include display-2;
}

p a{
  color: var(--ion-color-secondary);
  text-decoration: none;
}

.section-header{
  position: relative;
  img{

  }
  .header-content{
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
  }

}

.week-program{
  padding: 1em 0;
}

.week-description{
  font-size: .95em;
  padding-bottom: 1em;
}

.numbering{
  background: var(--ion-color-medium);
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 1em;
  text-align: center;

  &.success{
    background: var(--ion-color-success);
  }
}
