<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes suivis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<div class="card-list" style="height: 100%; overflow-y: auto;"><!-- มันเป็นวีธีที่ดีสำหรับคอนเทนต์ในการใช้งาน ionic framework -->

  <div class="ion-text-center">
    <ion-spinner *ngIf="!entityList" class="ion-padding" style="padding-top: 20vh"></ion-spinner>
  </div>

  <ion-card *ngFor="let entity of entityList">
    <ion-card-header>
      <ion-card-title>{{ entity.label }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item-sliding *ngFor="let goal of entity.goals">
        <ion-item>
          <ion-checkbox
            (ionChange)="onCheckboxChange(goal, $event)"
            [(ngModel)]="goal.completed"
          >{{ goal.label }}</ion-checkbox>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash" (click)="onClickDelete(goal, $event)"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card-content>
  </ion-card>

</div>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="showAddModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
