<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes suivis</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="ion-text-center">
    <ion-spinner *ngIf="!program" class="ion-padding" style="padding-top: 20vh"></ion-spinner>
  </div>
<div class="card-list" style="height: 100%; overflow-y: auto;" *ngIf="program"><!-- มันเป็นวีธีที่ดีสำหรับคอนเทนต์ในการใช้งาน ionic framework -->

  <div class="section-header">
    <img [src]="program.image" alt="stock-photo"/>
    <div class="header-content">
      <h1>{{ program.title }}</h1>
      <p>
        {{ program.description }}
        <a href="#" (click)="openAdvice()">Retrouvez des conseils du coach</a>
      </p>
    </div>
  </div>

  <div class="ion-padding">

    <div class="week-program" *ngFor="let milestone of program.milestones">
      <h2>{{ milestone.title }}</h2>
      <p class="week-description">{{ milestone.subtitle }}</p>
      <div>
        <ion-item *ngFor="let objective of milestone.objectives; let i = index">
          <span class="numbering" slot="start">{{ i + 1 }}</span>
          {{ objective.title }}
          <ion-button fill="clear" slot="end">Commencer</ion-button>
        </ion-item>
      </div>
    </div>
  </div>
</div>
</ion-content>
