<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Visionner une vidéo</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <h1 class="display-1 ion-padding">{{ video?.title }}</h1>
    <!-- Video reader -->
    <div *ngIf="video">
        <div>

            <video width="100%" controls>
                <source [src]="videoUrl" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div *ngIf="!user || user?.function !== 'admin'">
            <p class="ion-padding helper">
                <b>Tags: </b> {{ video?.tags }}
            </p>
            <p class="ion-padding helper">
                {{ video?.description }}
            </p>
        </div>

        <!-- If the user is an admin, he can edit the video -->
        <div *ngIf="user?.function === 'admin'">
            <form [formGroup]="form" (submit)="submit($event)">
                <ion-item>
                    <ion-input
                            label="Titre"
                            label-placement="floating"
                            formControlName="title"
                            [errorText]="displayedError.title"
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-select
                        formControlName="category"
                        label="Categorie"
                        label-placement="floating"
                    >
                        <ion-select-option value="undefined">Non défini</ion-select-option>
                        <ion-select-option value="training">Training</ion-select-option>
                        <ion-select-option value="boxing">Boxing</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-select
                        label="Visibilité"
                        label-placement="floating"
                        formControlName="hidden"
                    >
                        <ion-select-option [value]="0">Publique</ion-select-option>
                        <ion-select-option [value]="1">Privée</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-textarea
                        label="Description"
                        formControlName="description"
                        placeholder="Description de la vidéo"
                        [rows]="5"
                        [errorText]="displayedError.description"
                    ></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-input
                            label="Tags"
                            label-placement="floating"
                            formControlName="tags"
                            [errorText]="displayedError.tags"
                    ></ion-input>
                </ion-item>
                <app-ux-button
                    expand="block"
                    [disabled]="!formValid"
                    shape="round"
                    [loading]="isFormLoading"
                >
                    Mettre à jour
                </app-ux-button>
                <!--
                <ion-button expand="block" (click)="submit()" [disabled]="!formValid" shape="round">Mettre à jour</ion-button>
                -->
            </form>

            <br/>
            <div class="ion-padding">
                <h3 class="display-1">Supprimer la vidéo</h3>
                <div class="ion-text-center">
                    <ion-button (click)="deleteVideo()" shape="round" color="danger">Supprimer la vidéo</ion-button>
                </div>
            </div>
        </div>
    </div>
    <!-- Ionic spiner -->
    <p class="ion-text-center helper" *ngIf="!video">
        Chargement <br/><br/><br/>
        <ion-spinner></ion-spinner>
    </p>
</ion-content>