<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ video?.title }}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <!-- Video reader -->
    <div *ngIf="video">
        <div>

            <video width="100%" controls>
                <source [src]="videoUrl" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div *ngIf="!user || (user?.function !== 'admin' && user?.function !== 'coach')">
            <p class="ion-padding helper">
                <b>Tags: </b> {{ video?.tags }}
            </p>
            <p class="ion-padding helper">
                {{ video?.description }}
            </p>
        </div>

        <!-- If the user is an admin, he can edit the video -->
        <div *ngIf="user?.function === 'admin' || user?.function === 'coach'">
            <form [formGroup]="form" (submit)="submit($event)">
                <ion-item>
                    <ion-input
                            label="Titre"
                            label-placement="floating"
                            formControlName="title"
                            [errorText]="displayedError.title"
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input
                        label="Titre secondaire (facultatif)"
                        label-placement="floating"
                        formControlName="sort_field"
                        [errorText]="displayedError.sort_field"
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-select
                        formControlName="category"
                        label="Categorie"
                        label-placement="floating"
                    >
                    <ion-select-option value="undefined">Non défini</ion-select-option>
                    <ion-select-option value="training">Training</ion-select-option>
                    <ion-select-option value="training/corps-entier">Training > Corps entier</ion-select-option>
                    <ion-select-option value="training/bras">Training > Bras et épaules</ion-select-option>
                    <ion-select-option value="training/abdos">Training > Abdos</ion-select-option>
                    <ion-select-option value="training/jambes">Training > Jambes</ion-select-option>
                    <ion-select-option value="training/fessiers">Training > Fessiers</ion-select-option>
                    <ion-select-option value="training/pectoraux">Training > Pectoraux</ion-select-option>
                    <ion-select-option value="training/dos">Training > Dos</ion-select-option>
    
                    <ion-select-option value="boxing">Boxing</ion-select-option>
                    <ion-select-option value="boxing/base">Boxing > Base</ion-select-option>
                    <ion-select-option value="boxing/poings">Boxing > Poings</ion-select-option>
                    <ion-select-option value="boxing/pieds-genoux">Boxing > Pieds et genoux</ion-select-option>
                    <ion-select-option value="boxing/pieds-poings-genoux">Boxing > Pieds, poings et genoux</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-select
                        label="Visibilité"
                        label-placement="floating"
                        formControlName="hidden"
                    >
                        <ion-select-option [value]="0">Publique</ion-select-option>
                        <ion-select-option [value]="1">Privée</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-textarea
                        label="Description"
                        formControlName="description"
                        placeholder="Description de la vidéo"
                        [rows]="5"
                        [errorText]="displayedError.description"
                    ></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-input
                            label="Tags"
                            label-placement="floating"
                            formControlName="tags"
                            [errorText]="displayedError.tags"
                    ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-select
                        formControlName="privilege"
                        label="Privilège requis"
                        label-placement="floating"
                    >
                        <ion-select-option value='public,hoylt,moreno,alonzo'>Tout le monde</ion-select-option>
                        <ion-select-option value='hoylt,moreno,alonzo'>Hoylt ou supérieur</ion-select-option>
                        <ion-select-option value="moreno,alonzo">Moreno ou supérieur</ion-select-option>
                        <ion-select-option value="alonzo">Alonzo</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="ion-padding">
                    <app-ux-button
                        expand="block"
                        [disabled]="!formValid"
                        shape="round"
                        [loading]="isFormLoading"
                    >
                        Mettre à jour
                    </app-ux-button>
                </div>
                <!--
                <ion-button expand="block" (click)="submit()" [disabled]="!formValid" shape="round">Mettre à jour</ion-button>
                -->
            </form>

            <br/>
            <div class="ion-padding">
                <h3 class="display-1">Supprimer la vidéo</h3>
                <div class="ion-text-center">
                    <ion-button 
                        (click)="deleteVideo()" 
                        shape="round" 
                        color="danger"
                        expand="full"
                    >Supprimer la vidéo</ion-button>
                </div>
            </div>
        </div>
    </div>
    <!-- Ionic spiner -->
    <p class="ion-text-center helper" *ngIf="!video">
        Chargement <br/><br/><br/>
        <ion-spinner></ion-spinner>
    </p>
</ion-content>