<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>GPS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    {{ running }}
    <div *ngIf="steps">
        <p *ngFor="let step of steps">
            <!-- JSON -->
        </p>
    </div>
    <div>
        <p>Distance : {{ overall_distance }} km</p>
    </div>
    <div>
        <h2>Per kilometer stats</h2>
        <p *ngFor="let km of per_kilometer_stats">
            {{ km.distance }} km — {{ km.duration }} s — {{ km.speed }} km/s
        </p>
        <p style="font-weight: bold;">
            {{ current_km_distance }} km — {{ current_km_time }} s
        </p>
    </div>
    {{ steps.length }}
    <ion-button (click)="export_json()">Export JSON</ion-button>
  <div class="gps-container">

    <div>
      <h1 class="ion-padding">{{ distance | number:'1.2-2' }} km</h1>
      <h2 class="ion-padding">{{ chronometerValue }}</h2>
        <div class="ion-padding">

            <ion-button shape="round" (click)="startTracking()" expand="full" *ngIf="!watch">Démarrer</ion-button>
            <ion-button shape="round" (click)="stopTracking()" expand="full" *ngIf="watch" fill="primary">Stopper</ion-button>

        </div>
      <table>
        <tr>
          <th scope="col"></th>
          <th scope="col">Durée</th>
          <th scope="col">Vitesse</th>
        </tr>
        <tr *ngFor="let index of per_kilometer.slice().reverse(); let isFirst=first">
          <!-- Show the index -->
          <th scope="row">{{ index+1 }}<sup>e</sup> km
            <span *ngIf="isFirst">({{ Math.round((distance % 1) * 1000) }} m)</span></th>
          <td>{{ per_kilometer_duration[index] }} s</td>
          <!-- Make it 2 zero after the comma -->
          <td>{{ Math.round(per_kilometer_speed[index] * 3600 * 100)/100 }} km/h</td>
        </tr>
      </table>
        <!--
          <button (click)="_add_100m()">+ 100M</button>
          -->
    </div>

  </div>
</ion-content>
