<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>GPS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="gps-container">

    <div>
      <h1 class="ion-padding">{{ overall_distance | number:'1.2-2' }} km</h1>
      <h2 class="ion-padding">{{ chronometerValue }}</h2>
        <div class="ion-padding">

            <ion-button shape="round" (click)="startTracking()" expand="full" *ngIf="!running">Démarrer</ion-button>
            <ion-button shape="round" (click)="stopTracking()" expand="full" *ngIf="running" fill="primary">Stopper</ion-button>

        </div>
          <div>
              <table class="gps-stats">
                  <tr>
                      <th>Section</th>
                      <th>Vitesse</th>
                  </tr>
                  <tr *ngFor="let km of per_kilometer_stats">
                      <td>{{ km.index }} km - {{ km.index+1 }} km</td>
                      <td>{{ km.speed_kmh | number:'1.2-2' }} km/s</td>
                  </tr>
              </table>
          </div>
        <!--
          <button (click)="_add_100m()">+ 100M</button>
          -->
    </div>

  </div>
</ion-content>
