<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>GPS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!--
    {{ running }}
    <div *ngIf="steps">
        <p *ngFor="let step of steps">
        </p>
    </div>
    <div>
        <p>Distance : {{ overall_distance }} km</p>
    </div>
    <div>
        <h2>Per kilometer stats</h2>
        <p *ngFor="let km of per_kilometer_stats">
            {{ km.distance }} km — {{ km.duration }} s — {{ km.speed }} km/s
        </p>
        <p style="font-weight: bold;">
            {{ current_km_distance }} km — {{ current_km_time }} s
        </p>
    </div>
    {{ steps.length }}
    <ion-button (click)="export_json()">Export JSON</ion-button>
    -->


    <ion-button (click)="load_json()">Load JSON</ion-button>
  <div class="gps-container">

    <div>
      <h1 class="ion-padding">{{ overall_distance | number:'1.2-2' }} km</h1>
      <h2 class="ion-padding">{{ chronometerValue }}</h2>
        <div class="ion-padding">

            <ion-button shape="round" (click)="startTracking()" expand="full" *ngIf="!running">Démarrer</ion-button>
            <ion-button shape="round" (click)="stopTracking()" expand="full" *ngIf="running" fill="primary">Stopper</ion-button>

        </div>
          <div>
              <table class="gps-stats">
                  <tr>
                      <th>Section</th>
                      <th>Vitesse</th>
                  </tr>
                  <tr *ngFor="let km of per_kilometer_stats">
                      <td>{{ km.index }} km - {{ km.index+1 }} km</td>
                      <td>{{ km.speed_kmh | number:'1.2-2' }} km/s</td>
                  </tr>
              </table>
          </div>
        <!--
          <button (click)="_add_100m()">+ 100M</button>
          -->
    </div>

  </div>
</ion-content>
