<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <app-back-button></app-back-button>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Les recettes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="recipe-home">

    <div class="ion-padding-horizontal">
      <div class="title">
        Découvez nos recettes
      </div>
      <div class="subtitle">
        Ces recettes ont été sélectionnées pour vous aider les sportifs à s'alimenter sainement.
      </div>
    </div>

    <div class="card-list">
      <div class="tool-card enhanced-tool-card" *ngFor="let category of categories">
        <div class="image-container">
          <img [title]="category.name" [src]="category.imageUrl" />
        </div>
        <div class="card-description">
          <div class="spacer"></div>
          <p>Découvrez des recettes savoureuses et nutritives spécialement conçues pour les sportifs.</p>
          <h3>{{ category.name }}</h3>
          <ion-button style="align-self: stretch;" expand="block" shape="round" [routerLink]="'/recipe-by-category/' + category.name">
            Découvrir
          </ion-button>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <br/>

  <app-button-to-chat></app-button-to-chat>
</ion-content>