<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Les recettes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="recipe-home">
    <div class="menu">
      <app-condensed-menu-item [img]="category.imageUrl" [routerLink]="'/recipe-by-category/' + category.name" *ngFor="let category of categories">
        {{ category.name }}
      </app-condensed-menu-item>
    </div>
  </div>
</ion-content>
