@import '../../../mixins';
@import 'src/theme/mixins.scss';

.login-header{
  padding-bottom: 2em;

  h1{
    @include display-1;
  }
}

.dark-logo img {
  display: none; /* Hide the light logo by default */
}

.dark-logo img:last-child {
  display: block; /* Display the dark logo when the dark mode is active */
}

ion-content{
}

.centered-container{
  text-align: center;
  max-width: 600px;
  margin: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  &>div{
    width: 100%;
  }
}


// Password toggle
.password-toggle{
  @include password-toggle;
}

// The social authentication
app-ux-button .inner{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7px;
}