<ion-header [translucent]="true">
    <!--
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
  -->
</ion-header>

<ion-content class="ion-padding">

    <div [class]="'loading-placeholder ' + (formIsLoading ? '' : 'hidden')">
        <ion-spinner name="crescent"></ion-spinner>
    </div>

    <div class="centered-container">
        <div>
            <div class="login-header">
                <h1>Se connecter</h1>
                <div class="logo-container">
                    <img src="assets/logo-light-cropped.png" alt="Training Day" width="120px">
                    <!-- <img src="assets/logo-dark-cropped.png" alt="Training Day" width="120px" *ngIf="useDarkMode">-->
                </div>
            </div>
            <app-m-form [formGroup]="form" (submit)="submit()">
                <ion-item class="ion-margin-vertical">
                    <ion-input label="Email" label-placement="floating" formControlName="email"
                        [errorText]="displayedError.email" autocomplete="email" appAutofill></ion-input>
                </ion-item>

                <ion-item class="ion-margin-vertical">
                    <ion-input label="Password" label-placement="floating" formControlName="password"
                        [type]="passwordToggle.value ? 'text' : 'password'" [errorText]="displayedError.password"
                        autocomplete="password" appAutofill></ion-input>
                    <ion-button color="medium" fill="clear" class="password-toggle" shape="round"
                        (touchstart)="passwordToggle.toggle($event, true)"
                        (touchend)="passwordToggle.toggle($event, false)"
                        (mousedown)="passwordToggle.toggle($event, true)"
                        (mouseup)="passwordToggle.toggle($event, false)">
                        <div>
                            <ion-icon slot="end" name="eye"></ion-icon>
                        </div>
                    </ion-button>
                </ion-item>

                <app-ux-button expand="full" type="submit" shape="round" [loading]="formIsLoading">
                    Se connecter
                </app-ux-button>
            </app-m-form>

            <p class="forgot-password-link">
                <a routerLink="/forgot-password">Mot de passe oublié ?</a>
            </p>

            <div class="action-buttons">
                <div class="secondary-actions">
                    <ion-button expand="block" color="medium" (click)="goTo('/signup')" shape="round"
                        size="small">S'inscrire</ion-button>
                    <ion-button expand="block" color="tertiary" (click)="goTo('/home')" shape="round" size="small">Sans
                        compte</ion-button>
                </div>

                <div class="divider-section">
                    <hr />
                    <span class="divider-text">ou se connecter avec</span>
                    <hr />
                </div>

                <div class="social-buttons">
                    <app-continue-with-google-button (action)="requestLogin($event)" color="medium" expand="block"
                        type="button" shape="round" fill="clear" size="small"></app-continue-with-google-button>

                    <app-continue-with-apple-button *ngIf="system == 'ios'" (action)="handleAppleSignIn($event)"
                        color="medium" expand="block" type="button" shape="round" fill="clear"
                        size="small"></app-continue-with-apple-button>
                </div>

                <ion-button expand="full" fill="outline" color="medium" size="small" shape="round"
                    class="privacy-policy-button" (click)="openPrivacyPolicy()">
                    <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
                    Politique de confidentialité
                </ion-button>
            </div>

            <!--
        <app-ux-button
          (click)="continueWithGoogle()"
          color="medium"
          expand="full"
          type="button"
          shape="round"
          fill="clear"
        >
          <div class="inner">
            <img src="/assets/icon/social-menu/google-logo.svg" alt="Google" width="20px" height="20px">
            <div>Continuer avec Google</div>
          </div>
        </app-ux-button>-->

            <a *ngIf="false" routerLink="/s6-activity">Test select component</a>
            <div *ngIf="false">
                <h3 class="helper">Experimental features</h3>
                <ion-button (click)="continueWith('github')" color="medium">
                    <!-- Used both registering or login -->
                    Continue with Github
                    <ion-icon name="logo-github"></ion-icon>
                </ion-button>
                <ion-button (click)="continueWith('google')" color="medium">
                    <!-- Used both registering or login -->
                    Continue with Google
                    <ion-icon name="logo-google"></ion-icon>
                </ion-button>
                <ion-button (click)="continueWith('facebook')" color="medium">
                    <!-- Used both registering or login -->
                    Continue with Facebook
                    <ion-icon name="logo-facebook"></ion-icon>
                </ion-button><br />


                <ion-button (click)="registerWithGithub()">
                    Register with Github
                </ion-button>
                <ion-button (click)="exchangeGithubToken()">
                    Exchange Github Token
                </ion-button>
            </div>

        </div>
    </div>
</ion-content>