<div class="promotional-bubble-selector-component">
  <!--<div class="wrapper" *ngIf="os === 'ios'">
    <ion-button
      fill="clear"
      expand="block"
      color="dark"
      [class]="'clickable-option ' + ((formControl.value==product)?'active':'')"
      (click)="chooseOption(product)"
    >
      <div class="inner">
        <div class="topmost">
          <div class="circle"><div class="active-indicator"></div></div>
        </div>
        <div class="row">
          <div class="left">
            <div class="title">
              {{ product.displayName }}
            </div>
          </div>
          <div class="right">
            <div class="price display-1">{{ product?.baseOfferDisplayPrice || product.displayPrice }}</div>
          </div>
        </div>
      </div>
    </ion-button>
  </div>-->
  <!-- The promotional offers -->
  <div class="wrapper">
    <ion-button *ngFor="let offer of product.offers; let i = index"
      fill="clear"
      expand="block"
      color="dark"
      class="clickable-option"
      [class]="'clickable-option ' + ((formControl.value==offer)?'active':'')"
      (click)="chooseOption(offer)"
    >
      <div class="inner">
        <div class="topmost">
          <div class="circle"><div class="active-indicator"></div></div>
        </div>
        <div class="row">
          <div class="left">
            <div class="title">
              Abonnement pour {{ offer.pricingPhases[0].billingNMonth }} mois 
            </div>
            <div class="subtitle" *ngIf="offer.pricingPhases[0].percentageReduction > 0">
              Économisez <b>{{ offer.pricingPhases[0].percentageReduction }}%</b> sur un abonnement de 6 mois
            </div>
          </div>
          <div class="right">
            <div class="price display-1">{{ offer.displayPrice }}</div>
            <div class="weekly-price" *ngIf="offerWeeklyPrices[offer.androidOfferToken || 'offer_' + i]">Soit {{ offerWeeklyPrices[offer.androidOfferToken || 'offer_' + i] }}€/sem.</div>
          </div>
        </div>
      </div>
    </ion-button>
  </div>
</div>