@import '../mixins';


app-main-menu{
  overflow: scroll!important;
  height: 100vh!important;
  z-index: 99;
}

.ion-page{
  z-index: -99;
}

ion-app{
  & .floating-bottom{
      @include floating-bottom;
  }
  /*& app-bottom-navbar{
      position: fixed!important;
      bottom: 0;
      width: 100%;
      
  }*/
}