
//
ion-title>.inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.messaging{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.message-container{
    display: flex;
    flex-direction: column-reverse;
    & > * {
    }
}

// Allowing a reverse scroll typical for chatting
.discussion-flow{
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    & .flow{
        display: flex;
        flex-direction: column-reverse;
        & > * {
            //padding-top: 40px;
            //padding-bottom: 40px;
        }
    }
}


// Styling customizable for message bubbles
.message>div{
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-top: .4em;
    margin-bottom: .4em;
    & .content-wrapper{
        display: flex;
        flex-direction: column;
        max-width: 80%;
    }
    & .message-file{
        display: flex;
        flex-direction: row;
        align-items: center;
        & ion-spinner{
            height: 21px;
        }
        & > * {
        }
    }

    /*
    & .message-file{
        background: #aaaaaa2b;
        line-height: 33px;
        height: 33px;
        font-size: 14px;
        cursor: pointer;
        display: inline-block;
        padding: 0 10px;
        border-radius: 17px;
        display: flex;
        align-items: center;
    }
        */
    & ion-button.file-badge{
        --padding-start: 10px;
        --padding-end: 10px;
        position: relative;
        & .inner{
            text-transform: none;
            display: flex;
            align-items: center;
            gap: 4px;
            & ion-icon{
                font-size: 1.1em;
            }
        }
        // The progress-bar
        & .progress-bar{
            margin: -10px; // Cancel the ion-button padding
            width: calc(100% + 20px); // Cancel the ion-button padding
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;

            & .bar{
                width: 0px; // Initial width
                height: 4px;
                transition: width 0.3s;
                background: var(--ion-color-primary);
            }
        }
    }
    & .message-content{
        padding: .8em;
        border-radius: 1em;
        margin-left: .2em;
        height: fit-content;
        width: max-content;
        max-width: 100%;

        &.undelivered{ // unused
            opacity: 0.6;
        }
    }
}
.message.received>div{
    & ion-avatar{
        height: 40px;
        width: 40px;
        flex-shrink: 0;
    }
    & .message-content{
        text-align: left;
        margin-right: 15%;
        background: rgba(170, 170, 170, 0.16);
    }
}
.message.sent>div{
    // Align right
    justify-content: flex-end;
    align-items: center;
    & .message-content{
      text-align: right;
      //margin-left: 20%;
      background: rgba(44, 146, 210, 0.41);
    }

    & .more-button{
      color: rgba(44, 146, 210, 0.41);
    }
}

// For the controls at the bottom
.controls {
    & form{
      height: fit-content;
      position: relative;
      padding-bottom: env(safe-area-inset-bottom);
    }
    & .input-group {
        background: var(--ion-color-base) !important;
        display: flex;
        flex-direction: row;
        padding-left: 24px;
        padding-right: 24px;
        & .button-group{
            display: flex;
            flex-direction: row;
        }
    }
    & .placeholder{
        background: rgba(var(--ion-color-light-rgb), 0.4);
        // Blurr
        backdrop-filter: blur(5px);
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-bottom: env(safe-area-inset-bottom);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & .helper{
          font-size: .8em;
          text-align: center;
        }
    }
}

// Appointment alerts
.appointment-alert{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  
    & ion-icon{
      padding-top: 2px;
      padding-right: .3em;
    }

    & > div{
        flex-grow: 1;
    }
  
    & ion-button{
      width: 36px;
      height: 36px;
      border-radius: 50%;
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  
      & ion-icon{
        padding: 0;
      }
    }
  
    .appointment-row{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 2em;
  
      & ion-button{
        margin-left: 1em;
      }
    }
}

// The file detail view
.file-info{
    background: rgba(var(--ion-color-medium-rgb), 0.2);
    padding: .5em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
  
    & .file-name{
      // force to be in one line and hide the overflow
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
      font-size: 0.9;
    }
  
    & ion-button{
      --padding-start: .1em;
      --padding-end: .1em;
      --padding-top: .1em;
      --padding-bottom: .1em;
      width: 36px!important;
      height: 36px!important;
      border-radius: 50%;
    }
}