<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="router.navigate(['/chat'])">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div>
        <span>
          {{ correspondent?.firstname }} {{ correspondent?.lastname === '_' ? '' : correspondent?.lastname }}
        </span>
        <ion-badge *ngIf="correspondent?.user_settings?.disable_coach_messages == 'true'" color="medium">M. coach désactivés</ion-badge>
        <ion-badge *ngIf="correspondent?.user_settings?.disable_nutritionist_messages == 'true'" color="medium">M. nutritionniste désactivés</ion-badge>
        <ion-badge *ngIf="correspondent?.user_settings?.locked == 'true'" color="danger">Bloqué</ion-badge>
        <span *ngIf="user?.function == 'customer'">
          <ion-badge color="success" *ngIf="
            (correspondent?.isAvailable && !correspondent?.user_settings?.unavailable)
            || (!correspondent?.isAvailable && correspondent?.user_settings?.available)
          ">Disponible</ion-badge>
          <ion-badge color="medium" *ngIf="
            (correspondent?.isAvailable && correspondent?.user_settings?.unavailable)
            || (!correspondent?.isAvailable && !correspondent?.user_settings?.available)
          ">Non disponible</ion-badge>
        </span>
      </div>
    </ion-title>
    <ion-buttons slot="end" *ngIf="user?.function == 'coach' || user?.function == 'nutritionist' || !environment.production">
      <div *ngIf="user?.function == 'coach' || user?.function == 'nutritionist'">
        <ion-button (click)="presentActionSheetReport()">
          <ion-icon name="analytics-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="presentActionSheetGlobal()"><!-- We are here -->
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="!environment.production">
        <ion-button (click)="presentDebugActionSheet()">
          <ion-icon name="bug-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <div class="messaging">
    <div class="discussion-flow ion-content-scroll-host" #discussionFlow>
      <div *ngIf="!messageList">
        <ion-spinner class="ion-padding" style="padding-top: 20vh"></ion-spinner>
      </div>
      <div *ngIf="messageList" class="flow">
        <div *ngFor="let message of messageList"
          class="message"
          [class.received]="message.recipient_id === user.id"
          [class.sent]="message.recipient_id !== user.id"
        >
          <div *ngIf="message.content !== '[deleted]'">
            <ion-avatar slot="start" *ngIf="message.recipient_id === user.id">
              <img [src]="correspondent.avatar_url" alt="Profile Picture">
            </ion-avatar>
            <ion-button
              *ngIf="message.recipient_id !== user.id"
              fill="clear"
              shape="round"
              class="more-button"
              (click)="presentMessageActionSheet(message.id)"
            >
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
            <div class="content-wrapper">
              <div class="message-file" *ngIf="message.file">
                <ion-spinner *ngIf="message.undelivered || message.fileIsLoading"></ion-spinner>
                <ion-button
                  *ngIf="message.file"
                  color="light"
                  shape="round"
                  class="file-badge" (click)="downloadMessageFile(message)"
                >
                  <div class="inner">
                    <ion-icon name="attach-outline"></ion-icon>
                    <span>{{ message.file.name }}</span>
                  </div>
                  <div class="progress-bar" *ngIf="message.undelivered">
                    <div class="bar" [style]="'width: ' + (message.progress * 100) + '%'"></div>
                    <span style="opacity: 0; position: absolute">{{ message.progress }}</span>
                  </div>
                </ion-button>
              </div>
              <div class="message-content"
                [class.undelivered]="message.undelivered"
                *ngIf="message.content"
              >
                {{ message.content }}
              </div>
            </div>
          </div>
        </div>
        <div class="ion-text-center">
          <ion-button
            fill="clear"
            (click)="onInfinite(infiniteEvent)"
          >
            Charger plus de message
          </ion-button>
        </div>
      </div>
      <!-- ion-infinite seems not to work in our case-->
    </div>
    <div class="controls">
      <div class="file-info" *ngIf="file">
        <div class="file-name">{{ file.name }}</div>
        <div class="btn-container">
          <ion-button 
            fill="clear" 
            shape="round"
            (click)="clearFile()"
          >
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <form (submit)="sendMessage()" [formGroup]="form" *ngIf="user">
        <div class="placeholder" *ngIf="user.user_settings?.locked == 'true'">
          <div class="helper">
            Votre accès aux messages est bloqué pour non respect des conditions d'utilisation.
          </div>
        </div>
        <div class="input-group">
          <ion-input
            fill="clear"
            name="content"
            placeholder="Tapez votre message"
            formControlName="content"
            [errorText]="displayedError['content']"
            *ngIf="user.user_settings?.locked != 'true'"
          ></ion-input>
          <div class="button-group">
            <ion-button
              fill="clear"
              [disabled]="file"
              *ngIf="user.user_settings?.locked != 'true'"
              (click)="presentFileActionSheet()"
            >
              <ion-icon name="attach"></ion-icon>
            </ion-button>
            <input type="file" #fileInput style="display: none" (change)="handleFileInput($event)">

            <ion-button
              type="submit"
              fill="clear"
              [disabled]="!this.form.valid && !this.file"
            >
              <ion-icon name="send"></ion-icon>
            </ion-button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--
    <ion-button (click)="clearCache()">Clear cache</ion-button>
    <ion-button (click)="__loadMore()">Load more</ion-button>
  -->

</ion-content>
