<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chat-detail-v4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chat-detail-v4</ion-title>
    </ion-toolbar>
  </ion-header>
  {{ user?.name }} <br/> {{ correspondent?.name}} <br/>

  <ion-button (click)="clearCache()">Clear cache</ion-button>

  <div *ngFor="let message of messageList"
    class="message"
    [class.received]="message.recipient_id === user.id"
    [class.sent]="message.recipient_id !== user.id"
  >
    <div></div>
  </div>
</ion-content>
