
// TODO, ion-title

.messaging{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.message-container{
    display: flex;
    flex-direction: column-reverse;
    & > * {
    }
}

// Allowing a reverse scroll typical for chatting
.discussion-flow{
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    & .flow{
        display: flex;
        flex-direction: column-reverse;
        & > * {
            //padding-top: 40px;
            //padding-bottom: 40px;
        }
    }
}


// Styling customizable
.message>div{
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-top: .4em;
    margin-bottom: .4em;
    & .message-content{
        padding: .8em;
        border-radius: 1em;
        margin-left: .2em;
        height: fit-content;

        &.undelivered{ // unused
        opacity: 0.6;
        }
    }
}
.message.received>div{
    & ion-avatar{
        height: 40px;
        width: 40px;
        flex-shrink: 0;
    }
    & .message-content{
        text-align: left;
        margin-right: 15%;
        background: rgba(170, 170, 170, 0.16);
    }
}
.message.sent>div{
    // Align right
    justify-content: flex-end;
    align-items: center;
    & .message-content{
      text-align: right;
      //margin-left: 20%;
      background: rgba(44, 146, 210, 0.41);
    }

    & .more-button{
      color: rgba(44, 146, 210, 0.41);
    }
}