<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chat-detail-v4
      {{ user?.name }} <br/> {{ correspondent?.name}} <br/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <div class="messaging">
    <div class="discussion-flow ion-content-scroll-host" #discussionFlow>
      <div *ngIf="!messageList">
        <ion-spinner class="ion-padding" style="padding-top: 20vh"></ion-spinner>
      </div>
      <div *ngIf="messageList" class="flow">
        <div *ngFor="let message of messageList"
          class="message"
          [class.received]="message.recipient_id === user.id"
          [class.sent]="message.recipient_id !== user.id"
        >
          <div>{{ message.content }}</div>
        </div>
      </div>
      <!-- ion-infinite seems not to work in our case-->
    </div>
    <div class="controls">
      <form (submit)="sendMessage()" [formGroup]="form" *ngIf="user">
        <ion-input
          name="content"
          placeholder="Tapez votre message"
          formControlName="content"
          [errorText]="displayedError['content']"
          *ngIf="user.user_settings?.locked != 'true'"
        ></ion-input>
      </form>
    </div>
  </div>

  <!--
    <ion-button (click)="clearCache()">Clear cache</ion-button>
    <ion-button (click)="__loadMore()">Load more</ion-button>
  -->

</ion-content>
