<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Calculateur de calories</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

  <div class="calories-container ion-padding">
    <h1>Pour commencer, entrez vos informations</h1>
      <p class="helper">
          Vos besoins quotidiens en calories dépendent de votre âge, de votre sexe, de votre poids, de votre taille et de votre activité physique.
      </p>
      <p class="helper">
          La quantité de calorie sera calculée à partir de l'équation de Harris-Benedict.
          <a href="#"
             (click)="openExternal('https://en.wikipedia.org/wiki/Harris–Benedict_equation')"
            target="_blank"
          >
                En savoir plus
          </a>
      </p>
      <br/>
    <form [formGroup]="form">
      <ion-item>
        <ion-input
          label="Poids (kg)"
          label-placement="floating"
          formControlName="weight"
          [errorText]="displayedError.weight"
          [disabled]="!loaded"
          type="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Taille (cm)"
          label-placement="floating"
          formControlName="height"
          [errorText]="displayedError.height"
          [disabled]="!loaded"
          type="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Age (années)"
          label-placement="floating"
          formControlName="age"
          [errorText]="displayedError.age"
          [disabled]="!loaded"
          type="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-select
          label="Sexe"
          label-placement="floating"
          formControlName="sex"
        >
          <!-- The two sex -->
          <ion-select-option value="male">Homme</ion-select-option>
          <ion-select-option value="female">Femme</ion-select-option>
        </ion-select>
        <ion-text color="danger" *ngIf="displayedError.sex">{{ displayedError.sex }}</ion-text>
      </ion-item>
        <ion-item>
            <ion-select
                label="Activité"
                label-placement="floating"
                formControlName="activity"
            >
                <ion-select-option value="sedentary">Sédentaire</ion-select-option>
                <ion-select-option value="light">Légèrement actif</ion-select-option>
                <ion-select-option value="moderate">Modérément actif</ion-select-option>
                <ion-select-option value="intense">Très actif</ion-select-option>
                <ion-select-option value="extreme">Athlète (+2h de sport intensif par jour)</ion-select-option>
            </ion-select>
        </ion-item>
      <div>
          <br/>
        <app-ux-button
          shape="round"
          expand="full"
          (click)="validatePhysical()"
          [loading]="isLoading"
        >
          Calculer
          <ion-icon name="arrow-down"></ion-icon>
        </app-ux-button>
          <br/>
      </div>
    </form>

      <div class="calories-needed ion-padding ion-text-center" *ngIf="calory_needed">
          <p class="helper">
              Votre consommation de calorie est de
          </p>
          <h1 class="display-1">{{ calory_needed | number:'1.0-0' }} cal.</h1>
      </div>
      <div class="ion-text-center">
          <ion-button
                  class="long-button"
                  expand="full"
                  routerLink="/chat"
                  shape="round">
              Prendre rendez-vous avec mon nutritionniste
          </ion-button>
      </div>

      <!--
    <div class="calories-output" *ngIf="physicalValidated">
      <br/><br/><br/>
      <h1>Quantité de calories à consommer</h1>
      <table>
        <tr>
          <th scope="col">Activité</th>
          <th scope="col">Calories à consommer</th>
        </tr>
        <tr>
          <th scope="row">Sédentaire</th>
          <td>{{ calory_to_consume.sedentary | number:'1.0-0' }} cal.</td>
        </tr>
        <tr>
          <th scope="row">Légèrement actif</th>
          <td>{{ calory_to_consume.light | number:'1.0-0' }} cal.</td>
        </tr>
        <tr>
          <th scope="row">Modérément actif</th>
          <td>{{ calory_to_consume.moderate | number:'1.0-0' }} cal.</td>
        </tr>
        <tr>
          <th scope="row">Très actif</th>
          <td>{{ calory_to_consume.intense | number:'1.0-0' }} cal.</td>
        </tr>
        <tr>
          <th scope="row">Athlète (+2h de sport intensif par jour)</th>
          <td>{{ calory_to_consume.extreme | number:'1.0-0' }} cal.</td>
        </tr>
      </table>
    </div>
    -->
    <!-- We hide this old form for onw
    <div *ngIf="physicalValidated">
      <br/>
      <h1>Entrez les informations sur l'activité</h1>
      <ion-select
        label="Type d'activité"
        label-placement="floating"
        formControlName="type"
      >
        <ion-select-option>Vélo</ion-select-option>
      </ion-select>
      <ion-select
        label="Rythme"
        label-placement="floating"
        formControlName="effort"
      >
        <ion-select-option>Décontracté</ion-select-option>
        <ion-select-option>Normal</ion-select-option>
        <ion-select-option>Effort</ion-select-option>
      </ion-select>
      <ion-input
        label="Durée (minutes)"
        label-placement="floating"
        formControlName="duration"
        [errorText]="displayedError.duration"
        type="number"
      ></ion-input>
      <ion-button
        expand="full"
      >
        Calculer calories
        <ion-icon name="arrow-down"></ion-icon>
      </ion-button>
    </div>
    -->


    <div class="placeholder" *ngIf="user?.renewable_id == null">
      <p class="helper">
        Le calculateur de calories n'est pas disponible pour votre compte. Veuillez souscrire à un pack <b>Hoylt</b> ou supérieur pour en bénéficier.
      </p>
    </div>
  </div>


<app-bottom-navbar-placeholder></app-bottom-navbar-placeholder>
</ion-content>
