<div class="centered ion-padding">
    <div *ngIf="options.modalImage">
        <img [src]="options.modalImage"/>
    </div>
    <h1 class="display-1">
        {{ options.modalTitle }}
    </h1>
    <p>
        {{
            options.modalContent
        }}
    </p>
    <div class="ion-padding-vertical text-center" *ngIf="options.buttonText">
        <ion-button (click)="dismiss()">
            <div class="inner">
                {{ options.buttonText }}
            </div>
        </ion-button>
    </div>
    <div class="ion-padding-vertical text-center" *ngIf="options.primaryButtonText">
        <ion-button (click)="dismiss(options.primaryButtonAction);" expand="full" shape="round">
            <div class="inner">
                {{ options.primaryButtonText }}
            </div>
        </ion-button>
        <ion-button (click)="dismiss(options.secondaryButtonAction);" *ngIf="options.secondaryButtonText" expand="full" fill="clear">
            <div class="inner">
                {{ options.secondaryButtonText }}
            </div>
        </ion-button>
    </div>
</div>