
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button [customUrl]="'welcome-menu'"></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Training Day</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <p></p>
      <div>
        <!--
          Have a small bug on iphone
          SHould be updated
        -->
      </div>

      <h2 class="ion-padding">Bienvenue sur Training Day</h2>


        <div *ngIf="user">
            <ion-card color="warning" class="ion-padding" *ngIf="user.trial_is_active && !(user.subscription_is_active || (user.grouped_perishables && user.grouped_perishables['sport-coach']) || (user.grouped_perishables && user.grouped_perishables['food-coach']))">
                Vous disposez d'un essai gratuit de {{ getRemainingTrialDays(user.trial_expires_at) }} jours. Profitez-en pour discuter avec votre coach.
                L'essai se terminera le {{ user.trial_expires_at | date:'dd MMMM yyyy' }}.
            </ion-card>
        </div>
        <div>
            
            <div *ngIf="user?.appointments?.length > 0">
                <h1 class="display-1 ion-padding">Mes rendez-vous</h1>
                <ion-card
                    color="warning ion-padding"
                    class="appointment-card"
                    *ngFor="let appointment of user.appointments"
                >
                    <ion-icon name="calendar"></ion-icon>
                    <div>
                        Vous avez un rendez-vous planifié le 
                        <b>
                            {{ appointment.datetime | date:'dd MMMM yyyy' }}
                        </b>
                        à
                        <b>
                            {{ appointment.datetime | date:'HH:mm' }}
                        </b>
                        
                        <br/>
                        <b>Motif :</b> {{ appointment.reason }}<br/>

                    </div>
                </ion-card>
            </div>
            

            <h1 class="display-1 ion-padding">Mes Applications</h1>
            <div class="container">
                <!-- Additional required wrapper -->
                <swiper-container
                    navigation="false"
                    pagination="true"
                    autoplay-delay="2500"
                    css-mode="false"
                    loop="true"
                    #swiperEl
                    init="true"
                >
                    <swiper-slide>
                        <div class="image-container">
                            <img title="GPS" src="../../../assets/medias/IMG_0962_1024x683.jpeg"/>
                        </div>
                        <div class="description">
                            <p>
                                Entraînez-vous avec l'application chronomètre réglable pour chaque tour d'entraînement.
                            </p>
                            <h3>
                                <span>Chronomètre</span>
                            </h3>
                            <ion-button (click)="navigateTo('/app-timer')">Découvrir</ion-button>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="image-container">
                            <img title="GPS" src="../../../assets/medias/IMG_0961_1024x683.jpeg"/>
                        </div>
                        <div class="description">
                            <p>
                                Calculez vos kilomètres parcourus avec l'application GPS.
                            </p>
                            <h3>
                                <span>Course</span>
                            </h3>
                            <ion-button (click)="navigateTo('/app-gps')">Découvrir</ion-button>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="image-container">
                            <img title="GPS" src="../../../assets/medias/IMG_0964_1024x683.jpeg"/>
                        </div>
                        <div class="description">
                            <p>
                                Découvrez notre application calculateur d'IMC pour connaître votre indice de masse corporelle.
                            </p>
                            <h3>
                                <span>Calculateur d'IMC</span>
                            </h3>
                            <ion-button (click)="navigateTo('/app-imc')">Découvrir</ion-button>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="image-container">
                            <img title="IMC" src="../../../assets/medias/IMG_0965_1024x683.jpeg"/>
                        </div>
                        <div class="description">
                            <p>
                                Découvrez notre application calculateur de calories.
                            </p>
                            <h3>
                                <span>Calculateur de calories</span>
                            </h3>
                            <ion-button (click)="navigateTo('/app-calories')">Découvrir</ion-button>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="image-container">
                            <img title="Suivi du poids" src="../../../assets/medias/image-calendar-2_612x250.jpeg"/>
                        </div>
                        <div class="description">
                            <p>
                                Découvrez notre application suivi du poids.
                            </p>
                            <h3>
                                <span>Suivi du poids</span>
                            </h3>
                            <ion-button (click)="navigateTo('/app-weight-tracking')">Découvrir</ion-button>
                        </div>
                    </swiper-slide>
                </swiper-container>
            </div>
        </div>


        <div class="premium-subscription ion-padding">
            <h1 class="display-1">Un accompagnement et un suivi réel et personnalisé</h1>
            <p>
                Nos solutions d’accompagnement vous permettent d'accéder à des programmes d'entraînement personnalisés et un suivi avec un coach personnel.
            </p>
            <p>
                Rendez-vous à la page abonnement afin de trouver la solution qui vous convient.
            </p>
            <div>
                <ion-button
                    (click)="navigateTo('/swipeable-store')"
                >Découvrir</ion-button>
            </div>
        </div>

        <div class="">
            <h1 class="display-1 ion-padding">Découvrez les nouvelles actualités sportifs sur Training-Day</h1>
            <div class="list-container">
                <div class="video-card ion-padding" *ngFor="let video of videos">
                    <div class="left" (click)="goToVideo(video.id)">
                        <img src="/assets/logo-light-1024x1024-noalpha.jpg" alt="Vidéo thumbnail" class="card-image" *ngIf="!video.thumbnail"/>
                        <img [src]="getUrl(video.thumbnail.permalink)" alt="Vidéo thumbnail" class="card-image" *ngIf="video.thumbnail"/>
                        <ion-icon name="play-circle-outline"></ion-icon>
                    </div>
                    <div class="right">
                        <h3 class="card-title" (click)="goToVideo(video.id)">{{ video['title'] }}</h3>
                        <!--<div class="stars">
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>-->
                        <p>{{ video['description'] }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Autres contenus -->
        <div>
            <h1 class="display-1 ion-padding">Autres astuces et conseils</h1>
            <div class="misc-list">
                <div class="misc-item">
                    <img title="Les calories" src="../../../assets/medias/plat-bol-bouddha-legumes-legumineuses-vue-dessus-1024x683.jpeg" style="scale: 2.8">
                    <div class="ion-padding">
                        <h3 class="display-1">Les calories</h3>
                        <p>
                            Chaque jour, votre corps a besoin d’énergie pour fonctionner et accomplir correctement ses missions. Cette énergie nous est fournie par les aliments que nous consommons et s’exprime en calories.
                            <br/>
                        </p>
                        <p>
                            <span #calory id="calory">
                                La calorie est une unité de mesure de l’énergie couramment utilisée en nutrition. Par habitude, on évoque nos besoins journaliers en "calories", mais il s'agit en fait de kilocalories (kcal). 1 kilocalorie = 1 000 calories.
                            </span>
                            <ion-button (click)="toggleContent(calory, $event)">
                                Plus
                            </ion-button>
                        </p>
                    </div>
                </div>
                <div class="misc-item">
                    <img title="Rééquilibrage alimentaire" src="../../../assets/medias/femme-active-mesurant-sa-taille-1024x767.jpeg" style="scale: 2.8">
                    <div class="ion-padding">
                        <h3 class="display-1">Rééquilibrage alimentaire</h3>
                        <p>
                            Dans notre société sédentaire, où l'abondance et la consommation effrénée sont les maîtres- mots, chacun d'entre nous est constamment sollicité par les médias par des discours contradictoires.
                            <br/>
                        </p>
                        <p>
                            <span #reequilibrage id="reequilibrage">
                                Dans un tel contexte, il peut être difficile de se repérer parmi les informations qui nous parviennent continuellement. « 5 fruits et légumes par jour », « 10000 pas par jour », « limiter les aliments gras, salés, sucrés » : tout le monde connaît ces messages de santé publique. Pour autant, il n'est pas toujours aisé de les mettre en œuvre au quotidien.
                            </span>
                            <ion-button (click)="toggleContent(reequilibrage, $event)">
                                Plus
                            </ion-button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- debug section (only used while debugging) -->
            <!--
            <div>
                <h2 class="display-1 ion-padding-horizontal">Debug section</h2>
                <div>
                    {{ token }}
                </div>
                <div>
                    <ion-button fill="clear" (click)="unvalidateToken()">Unvalidate token</ion-button>
                </div>
                <div>
                    <ion-button fill="clear" (click)="refreshToken()">Refresh token</ion-button>
                </div>
            </div>
            -->

            <div>
                <div>
                    <ion-button routerLink="/messenger-detail/18" fill="clear">Go to message detail to 18 (coach)</ion-button>
                    <ion-button routerLink="/messenger-detail/16" fill="clear">Go to message detail to 16 (Ryan)</ion-button>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>

        <app-button-to-chat></app-button-to-chat>
    </ion-content>
