<ion-split-pane when="md" contentId="main">
  <ion-menu contentId="main">
    <app-main-menu></app-main-menu>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Main View</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Main View Content
      <a routerLink="/login">Go to login page</a>
      <p>
        Test our <a routerLink="/test-payment">Payment page</a>
      </p>
      <p>
        Please try our <a routerLink="/test-editor">Wysiwig component </a>
      </p>
    </ion-content>
  </div>
</ion-split-pane>
