
    <!--<ion-header>
      <ion-toolbar>
        <ion-title>Training Day</ion-title>
      </ion-toolbar>
    </ion-header>-->

    <ion-content class="ion-padding">
      <p></p>
      <div>
        <!--
          Have a small bug on iphone
          SHould be updated
        -->
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>

      <h2 class="ion-padding">Les programmes sportifs</h2>
      <ion-searchbar></ion-searchbar>

      <div id="home-card-list">
        <ion-card class="">
          <ion-card-header>
            <p class="placeholder"></p>
            <p>Lorem ipsum program – John Doe Coach</p>
            <ion-card-title><span>Programme 1 </span><ion-button>Plus</ion-button></ion-card-title>
          </ion-card-header>
          <ion-card-content></ion-card-content>
        </ion-card>

        <ion-card class="">
          <ion-card-header>
            <p class="placeholder"></p>
            <p>Lorem ipsum program – John Doe Coach</p>
            <ion-card-title><span>Programme 2 </span><ion-button>Plus</ion-button></ion-card-title>
          </ion-card-header>
          <ion-card-content></ion-card-content>
        </ion-card>

        <ion-card class="">
          <ion-card-header>
            <p class="placeholder"></p>
            <p>Lorem ipsum program – John Doe Coach</p>
            <ion-card-title><span>Programme 3 </span><ion-button>Plus</ion-button></ion-card-title>
          </ion-card-header>
          <ion-card-content></ion-card-content>
        </ion-card>


        <ion-card *ngIf="user && content">
          <ion-card-header>
            <ion-card-title>{{ content.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ content.content }}
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>
