<div [class]="'multi-selector-component ' + variant">
  <div class="label">{{ label }}</div>
  <div class="wrapper">
    <ion-button
    *ngFor="let option of options"
      fill="clear"
      expand="block"
      color="dark"
      [class]="'clickable-option ' + ((
        (mode == 'single' && keyAccessor(this.formControl.value) == keyAccessor(option)) ||
        (mode == 'multiple' && formControl.value.includes(option))?'active':''))"
      (click)="chooseOption(option)"
    >
      <div class="inner">
        <div class="content">
          <div>
            {{ keyAccessor(option) ? keyAccessor(option) : option }}
          </div>
        </div>
        <div class="right">
          <div class="rounded-rectangle"><div class="active-indicator">
            <ion-icon name="checkmark"></ion-icon>
          </div></div>
        </div>
      </div>
    </ion-button>
  </div>
  <div class="input-error" *ngIf="formControl?.invalid && formControl?.touched">
    {{ formControl.errors | errorMessage: errorText }}
  </div>
</div>