@import '../../../mixins';

.article-content .content{
  font-size: 1.1em;
  line-height: 1.5em;
  &::first-line {
    margin-left: 20px;
  }
}

.rating{
  padding-top: 2em;
  text-align: center;
  & h2{
    @include display-1;
  }
  &>div{
    font-size: 1.5em;
    color: var(--ion-color-primary);
  }
}
