<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <app-back-button></app-back-button>
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Abonnements</ion-title>
    <ion-progress-bar [value]="processProgress" *ngIf="processProgress > 0"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="android-purchase-invoice">
    <h1 class="display-1 ion-padding">Confirmez votre achat</h1>
    
    <form [formGroup]="form">
      <div class="ion-padding-horizontal description">
        Veuillez sélectionner votre offre d'abonnement. Les prélèvements seront effectués automatiquement par Google Play Store.
      </div>
      <div class="ion-padding-horizontal bubble-wrapper">
        <app-promotional-bubble-selector *ngIf="productList && productId" [product]="productList[productId]" formControlName="offer" os="android"></app-promotional-bubble-selector>
        <div class="placeholder" *ngIf="offersAreLoading"><ion-spinner></ion-spinner></div>
      </div>

      <div class="floating-bottom">
        <div class="ion-padding">
          <div class="cgv-row">
            <ion-label>Accepter <a class="a" (click)="openCGV()">les CGV</a></ion-label>
            <ion-checkbox formControlName="acceptCGV" slot="end" color="primary"></ion-checkbox>
          </div>

          <app-ux-button
            expand="block" 
            color="primary" 
            shape="round" 
            [disabled]="!form.valid"
            (click)="continueToPayment()"
            [loading]="isLoading"
          >
            Continuer
          </app-ux-button>
          <!-- TODO, redeem code -->
          <div class="helper ion-text-center" style="font-size:smaller">
            <!-- Enregistrement de votre commande en cours <br/> -->
            {{ loadingStep }}
          </div>
        </div>
      </div>

    </form>
  </div>
  <!--<h1 class="display-1 ion-padding">Facture</h1>

  <div class="ion-padding">
      <table>
          <thead>
          <tr>
              <th></th>
              <th>Désignation</th>
              <th>Prix TTC</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngIf="productList && productId">
              <td>1</td>
              <td>
                {{ productList[productId]?.displayName }} <br/>
              </td>
              <td>
                {{ productList[productId]?.displayPrice }}
                <span *ngIf="['hoylt', 'alonzo', 'moreno', 'gursky', 'smiley'].includes(productId)">/ mois</span>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><strong>Total</strong></td>
              <td *ngIf="productList && productId">
                <strong>{{ productList[productId].displayPrice }}
                  <span *ngIf="['hoylt', 'alonzo', 'moreno', 'gursky', 'smiley'].includes(productId)">/ mois</span>
                </strong>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    
    
    <form>
      <ion-item>
          <ion-label>Accepter <a class="a" (click)="openCGV()">les conditions générales de vente</a></ion-label>
          <ion-checkbox [formControl]="acceptConditions" slot="end" color="primary"></ion-checkbox>
      </ion-item>
    </form>
    <div class="ion-padding">
      <app-ux-button
        expand="block" 
        color="primary" 
        shape="round" 
        (click)="continueToPayment()" 
        [disabled]="!acceptConditions.value"
        [loading]="isLoading"
      >
        Continuer
      </app-ux-button>
      <div class="helper ion-text-center" *ngIf="isLoading" style="font-size:smaller">
        Enregistrement de votre commande en cours <br/>
        <div>
            <span>
                {{ loadingStep }}
            </span>
            <ion-spinner name="dots"></ion-spinner>
        </div>
      </div>
    </div>
  -->
</ion-content>
