
.android-purchase-invoice{
  position: relative;
  height: 100%;

  h1{
    margin-top: 0px!important;
    padding-top: 30px; // Override (20 is the default for ion-padding), then additional 10 for the h1
  }
}