
.columns{
  display: flex;
  align-items: center;

  &>div:first-child{
    flex: 3;
  }
  &>div:last-child{
    flex: 1;
  }
}

.no-columns{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.subscription-card {
  border-top: 1px dashed var(--ion-color-medium);
  border-bottom: 1px dashed var(--ion-color-medium);
}

.subtitle{
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  & > div{
    & ion-icon{
      font-size: 16px;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
}