<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <app-back-button></app-back-button>
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Messagerie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- The setting panel for the coach -->
  <app-coach-chat-settings [user]="user"></app-coach-chat-settings>

  <!-- The tab -->
  <div class="user-tab">
    <app-chat-master-tabs 
      [selectedTab]="selectedTab"
      (swipeToTab)="tabChanged($event)"
    ></app-chat-master-tabs>
  </div>
  <div class="swipeable-chat-master">
    <swiper-container
      pagination="false"
      navigation="false"
      init="false"
      #swiperEl
    >
      <swiper-slide>
        <!-- It is ugly to see the inner content load before the containing swiper -->
        <app-chat-master-discussion-list
          [userId]="user?.id"
          *ngIf="swiperIsReady"
        ></app-chat-master-discussion-list>
      </swiper-slide>
      <swiper-slide>
        <app-chat-master-discussion-list
          [userId]="environment.nutritionistId"
          *ngIf="swiperIsReady"
        ></app-chat-master-discussion-list>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
