<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <app-back-button></app-back-button>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Suivi du poids</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="app-weight-tracking">

  <div class="faded-cover" *ngIf="!user || user?.renewable_id == null">
    <p class="helper" *ngIf="user?.renewable_id == null">
      L'application de suivi de poids n'est pas disponible pour votre compte. Veuillez souscrire à un pack <b>Hoylt</b> ou supérieur pour en bénéficier.
    </p>
  </div>
  <ion-card class="ion-padding cta" *ngIf="!user">
    <ion-card-content>
      <h1 class="display-1">Créer un compte gratuitement pour continuer</h1>
      <br/>
      <p class="helper">
        L'enregistrement de votre historique de poids requiert un compte utilisateur.
      </p>
      <br/>
      <app-ux-button
        shape="round"
        expand="full"
        routerLink="/login"
      >
        Se connecter
      </app-ux-button>
    </ion-card-content>
    </ion-card>


<div class="ion-padding" *ngIf="user?.function == 'customer'">
  <h1 class="display-1">Suivez votre poids au quotidien</h1>
  <p class="helper">
    L'application vous permet de suivre votre poids au quotidien.
    Vous pouvez ajouter un poids à une date donnée, et consulter l'évolution de votre poids au fil du temps.
  </p>
  <br/>

  <form [formGroup]="weightForm" (submit)="submitWeightForm($event)">
    <ion-item>
      <ion-input 
        label="Date"
        label-placement="floating"
        formControlName="date"
        [errorText]="displayedError.date"
        type="date"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
        label="Poids (kg)"
        label-placement="floating"
        formControlName="weight"
        [errorText]="displayedError.weight"
        type="number"
      ></ion-input>
    </ion-item>
    <br/>
    <app-ux-button
      shape="round"
      expand="full"
      [loading]="isFormLoading"
    >
      Soumettre
    </app-ux-button>
  </form>
</div>

<div *ngIf="user?.function == 'coach' && customer">
  <h1 class="display-1 ion-padding">Courbe de poids</h1>

  <h2 class="display-1 ion-padding">Information sur le client</h2>
  <ion-item>
    <ion-input 
      label="Nom et prénom"
      label-placement="floating"
      [value]="customer?.lastname + ' ' + customer?.firstname"
      readonly
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input 
      label="Email"
      label-placement="floating"
      [value]="customer?.email"
      readonly
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input 
      label="Abonnement"
      label-placement="floating"
      [value]="customer?.renewable_id"
      readonly
    ></ion-input>
  </ion-item>
</div>

<div class="ion-padding" *ngIf="user?.function == 'customer' || (user?.function == 'coach' && customer)">
  <h1 class="display-1">Ma courbe de poids</h1>
  <div class="ion-text-center" *ngIf="loading">
    <br/><br/>
    <ion-spinner></ion-spinner>
    <br/><br/>
  </div>
  <div style="display: block" id="canvas-container" *ngIf="!loading">
    <canvas baseChart
      [data]="lineChart.data"
      [options]="lineChart.options"
      [legend]="false"
      [type]="'line'"
      style="width: 100%; height: 100%;"
    ></canvas>
  </div>
</div>

<div class="ion-padding" *ngIf="user?.function == 'customer' || (user?.function == 'coach' && customer)">
  <h1 class="display-1">Historique des poids</h1>
  <ion-list *ngIf="weightData.length > 0">
    <ion-item>
      <ion-label class="ion-text-center"><b>Date</b></ion-label>
      <ion-label class="ion-text-center"><b>Poids (kg)</b></ion-label>
      <ion-label class="ion-text-center"></ion-label>
    </ion-item>
    <ion-item *ngFor="let row of weightData">
      <ion-label class="ion-text-center">{{ row.date | date:'dd MMMM yyyy' }}</ion-label>
      <ion-label class="ion-text-center">{{ row.weight }}</ion-label>
      <ion-label class="ion-text-center">
        <ion-button (click)="deleteWeight(row.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
  <p class="helper" *ngIf="weightData.length === 0">
    Aucun poids enregistré pour le moment.
  </p>

  <br/>
  <div class="ion-text-center" *ngIf="user?.function == 'customer'">
    <ion-button
            class="long-button"
            routerLink="/chat"
            shape="round"
              expand="full"
    >
        Prendre rendez-vous avec mon coach
    </ion-button>
</div>
</div>

<app-bottom-navbar-placeholder></app-bottom-navbar-placeholder>
</ion-content>
