<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Personal trainer</ion-title>
    </ion-toolbar>
    <app-shop-tabs selectedTab="tab4"></app-shop-tabs>
</ion-header>


<ion-content class="">
    <div *ngIf="user && user.grouped_perishables && user.grouped_perishables['personal-trainer']">
        <h1 class="display-1 ion-padding">Mes abonnements en cours</h1>
        <app-trainer-card
            [entity]="user.grouped_perishables['personal-trainer']"
        ></app-trainer-card>
    </div>
    <!-- Put three tab -->
    <h1 class="display-1 ion-padding">Choisissez un offre de coaching personnel</h1>

    <div class="option-list">
        <div class="card ion-padding">
            <h2 class="display-1">Programme 1 séance (
                {{ productList.hasOwnProperty('trainer1') ? productList['trainer1'].displayPrice : 'Temporairement indisponible'}}
                )</h2>
            <p class="helper">
                Profitez d'une séance coaching personnalisée avec un coach sportif professionnel.
            </p>

            <ion-button
                    size="normal"
                    color="dark"
                    expand="block"
                    shape="round"
                    (click)="clickCoachingOption(1, 5900, 'trainer1')"
                    [disabled]="!productList.hasOwnProperty('trainer1')"
            >
                Choisir
            </ion-button>

            <!--<ion-button size="normal" color="dark" expand="block" shape="round" (click)="confirmPurchase('trainer1')">
                Acheter maintenant
            </ion-button>-->
        </div>
        <div class="card ion-padding">
            <h2 class="display-1">Programme 5 séances (
                {{ productList.hasOwnProperty('trainer5') ? productList['trainer5'].displayPrice : 'Temporairement indisponible'}}
                )</h2>
            <p class="helper">
                Profitez de 5 séances de coaching personnalisées avec un coach sportif professionnel.
            </p>
            <ion-button
                    size="normal"
                    color="warning"
                    expand="block"
                    shape="round"
                    (click)="clickCoachingOption(5, 24900, 'trainer5')"
                    [disabled]="!productList.hasOwnProperty('trainer5')"
            >
                Choisir
            </ion-button>
        </div>
        <div class="card ion-padding">
            <h2 class="display-1">Programme 10 séances (
                {{ productList.hasOwnProperty('trainer10') ? productList['trainer10'].displayPrice : 'Temporairement indisponible'}}
                )</h2>
            <p class="helper">
                Profitez de 10 séances de coaching personnalisées avec un coach sportif professionnel.
            </p>
            <ion-button
                    size="normal"
                    color="primary"
                    expand="block"
                    shape="round"
                    (click)="clickCoachingOption(10, 49900, 'trainer10')"
                    [disabled]="!productList.hasOwnProperty('trainer10')"
            >
                Choisir
            </ion-button>
        </div>
    </div>
</ion-content>