<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Personal trainer</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="">
    <!-- Put three tab -->
    <app-shop-tabs selectedTab="tab4"></app-shop-tabs>
    <h1 class="display-1 ion-padding">Choisissez un offre de coaching personnel</h1>

    <div class="option-list">
        <div class="card ion-padding">
            <h2 class="display-1">Programme 1 séance (59 euros)</h2>
            <p class="helper">
                Profitez d'une séancde coaching personnalisée avec un coach sportif professionnel.
            </p>
            <ion-button size="normal" color="primary" expand="block" shape="round" (click)="clickCoachingOption(1, 5900)">
                Choisir
            </ion-button>
        </div>
        <div class="card ion-padding">
            <h2 class="display-1">Programme 5 séances (269 euros)</h2>
            <p class="helper">
                Profitez de 5 séances de coaching personnalisées avec un coach sportif professionnel.
            </p>
            <ion-button size="normal" color="danger" expand="block" shape="round" (click)="clickCoachingOption(5, 24900)">
                Choisir
            </ion-button>
        </div>
        <div class="card ion-padding">
            <h2 class="display-1">Programme 10 séances (499 euros)</h2>
            <p class="helper">
                Profitez de 10 séances de coaching personnalisées avec un coach sportif professionnel.
            </p>
            <ion-button size="normal" color="secondary" expand="block" shape="round" (click)="clickCoachingOption(10, 49900)">
                Choisir
            </ion-button>
        </div>
    </div>
</ion-content>