<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Confirmez votre achat
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="display-1 ion-padding">Facture</h1>

    <div class="ion-padding">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Désignation</th>
                <th>Prix TTC</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="environment.paymentMethod === 'inAppPurchase' && productList && productId">
                <td>1</td>
                <td>
                    {{ productList[productId]?.displayName }} <br/>
                    <strong *ngIf="promotionalText" class="promotionalText">{{ promotionalText }}</strong>
                </td>
                <td *ngIf="!promotionalDisplayPrice">{{ productList[productId]?.displayPrice }}
                    <span *ngIf="['hoylt', 'alonzo', 'moreno', 'gursky', 'smiley'].includes(productId)">/ mois</span>
                </td>
                <!-- If promotion has been chosen -->
                <td *ngIf="promotionalDisplayPrice">
                    {{ promotionalDisplayPrice }}
                </td>
            </tr>
            <!-- The total -->
            <tr>
                <td></td>
                <td><strong>Total</strong></td>
                <td *ngIf="environment.paymentMethod === 'inAppPurchase' && productList && productId">
                    <strong *ngIf="!promotionalDisplayPrice">{{ productList[productId].displayPrice }}
                        <span *ngIf="['hoylt', 'alonzo', 'moreno', 'gursky', 'smiley'].includes(productId)">/ mois</span>
                    </strong>
                    <!-- If promotion has been chosen -->
                    <strong *ngIf="promotionalDisplayPrice">{{ promotionalDisplayPrice }}
                    </strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--  should consider to use a shared component to load them -->
    <div class="ion-padding">
        <h2 class="display-1">Les offers promotionnelles</h2>
        <div *ngIf="promoOffers" class="promo-offers"><!-- replace by slider later-->
            <swiper-container navigation="false" pagination="true" #swiperEl
                slides-per-view="auto"
                centered-slides="true" 
                space-between="30"
            >
                <swiper-slide>
                    <app-promo-offer-card *ngFor="let promoOffer of promoOffers" [promoOffer]="promoOffer" (action)="chooseOffer($event)"></app-promo-offer-card>
                </swiper-slide>
                <swiper-slide>
                    <app-promo-offer-card *ngFor="let promoOffer of promoOffers" [promoOffer]="promoOffer" (action)="chooseOffer($event)"></app-promo-offer-card>
                </swiper-slide>
            </swiper-container>
        </div>
        <div *ngIf="promoOffersAreLoading" class="loader-wrapper">
            <ion-spinner></ion-spinner>
        </div>
    </div>
    <br/>
    <form>
        <ion-item>
            <ion-label>Accepter <a class="a" (click)="openCGV()">les conditions générales de vente</a></ion-label>
            <ion-checkbox [formControl]="acceptConditions" slot="end" color="primary"></ion-checkbox>
        </ion-item>
    </form>
    <br/>
    <div class="ion-padding">
        <app-ux-button 
            expand="block" 
            color="primary" 
            shape="round" 
            (click)="continueToPayment()" 
            [disabled]="!acceptConditions.value"
            [loading]="isLoading"
            >
            Continuer
        </app-ux-button>
        <app-ux-button
            expand="block"
            color="primary"
            fill="clear"
            shape="round"
            (click)="presentRedeemSheet()"
            *ngIf="!isLoading && redeemCodeEnabled"
            [disabled]="!acceptConditions.value"
        >
            Utiliser un code
        </app-ux-button>
        <div class="helper ion-text-center" *ngIf="isLoading" style="font-size:smaller">
            Enregistrement de votre commande en cours <br/>
            <div>
                <span>
                    {{ loadingStep }}
                </span>
                <ion-spinner name="dots"></ion-spinner>
            </div>
        </div>
        <ion-button (click)="testFetchPromotionalOffer()">Test fetchPromotionalOffer</ion-button>
    </div>
</ion-content>