<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Facture
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="display-1 ion-padding">Facture</h1>

    <div class="ion-padding">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Désignation</th>
                <th>Prix TTC</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="environment.paymentMethod === 'stripe'">
                <td>1</td>
                <td>
                    Abonnement {{ subscriptionLabel }} ({{ subscriptionExtraInfo}})
                </td>
                <td>{{ subscriptionPrice / 100}} €</td>
            </tr>
            <tr *ngIf="environment.paymentMethod === 'inAppPurchase' && productList && productId">
                <td>1</td>
                <td>
                    {{ productList[productId]?.displayName }}
                </td>
                <td>{{ productList[productId]?.displayPrice }}
                    <span *ngIf="['hoylt', 'alonzo', 'moreno'].includes(productId)">/ mois</span>
                </td>
            </tr>
            <!-- The total -->
            <tr>
                <td></td>
                <td><strong>Total</strong></td>
                <td *ngIf="environment.paymentMethod === 'stripe'"><strong>{{ subscriptionPrice / 100 }} €</strong></td>
                <td *ngIf="environment.paymentMethod === 'inAppPurchase' && productList && productId">
                    <strong>{{ productList[productId].displayPrice }}
                        <span *ngIf="['hoylt', 'alonzo', 'moreno'].includes(productId)">/ mois</span>
                    </strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <form>
        <ion-item>
            <ion-label>Accepter les conditions générales de vente</ion-label>
            <ion-checkbox [formControl]="acceptConditions" slot="end" color="primary"></ion-checkbox>
        </ion-item>
    </form>
    <br/>
    <div class="ion-padding">
        <app-ux-button 
            expand="block" 
            color="primary" 
            shape="round" 
            (click)="continueToPayment()" 
            [disabled]="!acceptConditions.value"
            [loading]="isLoading"
            >
            Continuer
        </app-ux-button>
        <div class="helper ion-text-center" *ngIf="isLoading" style="font-size:smaller">
            Enregistrement de votre commande en cours <br/>
            <div>
                <span>
                    {{ loadingStep }}
                </span>
                <ion-spinner name="dots"></ion-spinner>
            </div>
        </div>
    </div>
</ion-content>