

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@mixin display-1{
  font-family: 'Bebas Neue', sans-serif;
}

@mixin display-2{
  letter-spacing: 0.1em;
  font-style: italic;
  font-family: 'Bebas Neue', sans-serif;
}

@mixin v-padding{
  padding-top: var(--ion-padding, 16px);
  padding-bottom: var(--ion-padding, 16px);
}


/* Fancy table */
@mixin fancy-table{

  margin-top: 1em;
  margin: auto;
  width: 100%;
  border-collapse: separate;
  line-height: 1.8em;

  & th{
    @include display-1;
    letter-spacing: 2px;
    background: var(--ion-color-primary);
    font-size: 0.85em;
  }

  & td{
    @include display-1;
    font-size: 1.1em;
    text-align: center
  }

  & td, & th{
    border: 1px solid var(--ion-background-color);
  }
}
