

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@mixin display-1{
  font-family: 'Bebas Neue', sans-serif;
}

@mixin display-2{
  letter-spacing: 0.1em;
  font-style: italic;
  font-family: 'Bebas Neue', sans-serif;
}
