
ion-title{
  &>*{
    vertical-align: middle;
  }
}

.messaging{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.discussion-flow{
  flex-grow: 1;
  overflow-y: auto;
  flex-direction: column;
}

.controls{
  height: 80px;

  ion-item{
    background: var(--ion-color-base) !important;
    padding-bottom: 30px!important;
  }

  ion-input{
    background: var(--ion-color-base) !important;
  }
}

.message>div{
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-top: .4em;
  margin-bottom: .4em;

  & .message-content{
    padding: .8em;
    border-radius: 1em;
    margin-left: .2em;
    // Make the height fit the content
    height: fit-content;

    &.undelivered{ // unused
      opacity: 0.9;
    }
  }
}

.message.received>div{
  & ion-avatar{
    height: 40px;
    width: 40px;
  }
  & .message-content{
    text-align: left;
    margin-right: 20%;
    background: rgba(170, 170, 170, 0.16);
  }
}

.message.sent>div{
    // Align right
    justify-content: flex-end;
    align-items: center;
    & .message-content{
      text-align: right;
      //margin-left: 20%;
      background: rgba(44, 146, 210, 0.41);
    }

    & .more-button{
      color: rgba(44, 146, 210, 0.41);
    }
}

/*
.message{
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-top: .4em;
  margin-bottom: .4em;

  & .message-content{
    //flex: 1;
    padding: .8em;
    border-radius: 1em;
    margin-left: .2em;
    // Align right

    &.undelivered{
      opacity: 0.9;
    }
  }

  &.received{
    & ion-avatar{
      height: 40px;
      width: 40px;
    }
    & .message-content{
      text-align: left;
      margin-right: 20%;
      background: rgba(170, 170, 170, 0.16);
    }
  }

  &.sent{
    // Align right
    justify-content: flex-end;
    align-items: center;
    & .message-content{
      text-align: right;
      //margin-left: 20%;
      background: rgba(44, 146, 210, 0.41);
    }

    & .more-button{
      color: rgba(44, 146, 210, 0.41);
    }
  }
}
*/