<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/chat"></ion-back-button>-->
      <ion-button (click)="router.navigate(['/chat'])">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div>
        <span>
          {{ correspondent?.firstname }} {{ correspondent?.lastname === '_' ? '' : correspondent?.lastname }}
        </span>
        <!--<ion-badge *ngIf="correspondent?.user_settings?.disable_messages == 'true'" color="medium">Message désactivés</ion-badge>-->
        <ion-badge *ngIf="correspondent?.user_settings?.disable_coach_messages == 'true'" color="medium">M. coach désactivés</ion-badge>
        <ion-badge *ngIf="correspondent?.user_settings?.disable_nutritionist_messages == 'true'" color="medium">M. nutritionniste désactivés</ion-badge>
        <ion-badge *ngIf="correspondent?.user_settings?.locked == 'true'" color="danger">Bloqué</ion-badge>
        <span *ngIf="user?.function == 'customer'">
          <ion-badge color="success" *ngIf="
            (correspondentIsOnline && !correspondent?.user_settings?.unavailable)
            || (!correspondentIsOnline && correspondent?.user_settings?.available)
          ">Disponible</ion-badge>
          <ion-badge color="medium" *ngIf="
            (correspondentIsOnline && correspondent?.user_settings?.unavailable)
            || (!correspondentIsOnline && !correspondent?.user_settings?.available)
          ">Non disponible</ion-badge>
        </span>
      </div>
    </ion-title>
    <ion-buttons slot="end" *ngIf="user?.function == 'coach' || user?.function == 'nutritionist' || !environment.production">
      <div *ngIf="user?.function == 'coach' || user?.function == 'nutritionist'">
        <ion-button (click)="presentActionSheetReport()">
          <ion-icon name="analytics-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="presentActionSheetGlobal()"><!-- We are here -->
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="!environment.production">
        <ion-button (click)="presentDebugActionSheet()">
          <ion-icon name="bug-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <div class="messaging">
    <div class="discussion-flow ion-content-scroll-host" #discussionFlow><!-- The discussion flow -->
        <div *ngIf="!entityList">
            <ion-spinner class="ion-padding" style="padding-top: 20vh"></ion-spinner>
        </div>
        <div *ngIf="entityList" class="flow">
          <div *ngFor="let entity of entityList" 
            class="message" 
            [class.received]="entity.recipient_id === recipient_id" 
            [class.sent]="entity.recipient_id !== recipient_id"
            >
            <div *ngIf="entity.content !== '[deleted]' && entity.file" class="badge-wrapper"><!-- TODO For later, merge the two following div in the same s-->
              <ion-spinner *ngIf="entity.undelivered || entity.fileIsLoading"></ion-spinner>
              <ion-badge color="medium" class="file-badge" (click)="downloadMessageFile(entity)">
                <div class="inner">
                  <ion-icon name="attach-outline"></ion-icon>
                  <span>{{entity.file.name}}</span>
                </div>
                <div class="progress-bar" *ngIf="entity.undelivered">
                  <div class="bar" [style]="'width: ' + (entity.progress * 100) + '%'"></div>
                  <span style="opacity: 0; position: absolute">{{ entity.progress }}</span>
                </div>
              </ion-badge>
            </div>
            <div *ngIf="entity.content !== '[deleted]'">
              <ion-avatar slot="start" *ngIf="entity.recipient_id === recipient_id">
                <img src="{{avatar_url??'../../../assets/samples/profile-sample-1.jpg'}}" alt="Profile Picture">
              </ion-avatar>
              <ion-button 
                *ngIf="entity.recipient_id !== recipient_id"
                fill="clear"
                shape="round"
                class="more-button"
                (click)="presentActionSheet(entity.id)"
                >
                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
              </ion-button>
              <div class="message-content" *ngIf="!entity.undelivered">
                  {{ entity.content }}
              </div>
              <div class="message-content undelivered" *ngIf="entity.undelivered">
                  {{ entity.content }}
              </div>
            </div>
          </div>
        </div>
        <ion-infinite-scroll position="top">
          <div class="helper ion-text-center ion-padding" *ngIf="!allMessagesLoaded">
            <a (click)="onIonInfinite(ionInfiniteEvent)">
              Charger plus de messages
            </a>
          </div>
          <ion-infinite-scroll-content *ngIf="!allMessagesLoaded"></ion-infinite-scroll-content>

          <!--
          <div class="ion-text-center ion-padding helper">
              ....
          </div>
          -->
        </ion-infinite-scroll>
    </div>
    <div class="ion-padding appointment-alert" *ngIf="this.correspondent?.appointments.length > 0">
      <ion-icon name="calendar-outline"></ion-icon>
      <div>
        Rendez-vous planifié{{this.correspondent.appointments.length>1?'s':''}}<br/><br/>
        <div *ngFor="let appointment of this.correspondent?.appointments" class="appointment-row">
          <div>
            <b>
              {{ appointment.datetime | date:'dd MMMM yyyy' }}
            </b> à 
            <b>
              {{ appointment.datetime | date:'HH:mm' }}
            </b><br/>
          </div>
          <ion-button
            fill="clear"
            shape="round"
            color="danger"
            (click)="deleteAppointment(appointment.id)"
          >
            <ion-icon name="trash" slog="icon-only"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
    <div class="controls" *ngIf="!coachAsNutritionist"><!-- The message input -->
      <div class="file-info" *ngIf="file">
        <div class="file-name">{{ file.name }}</div>
        <div class="btn-container">
          <ion-button 
            fill="clear" 
            shape="round"
            (click)="clearFile()"
          >
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <form (submit)="$event.preventDefault(); sendMessage()" [formGroup]="form">
        <div class="placeholder" *ngIf="user.user_settings?.locked == 'true'">
          <div class="helper">
            Votre accès aux messages est bloqué pour non respect des conditions d'utilisation.
          </div>
        </div>
        <ion-item
        >
          <ion-input
            name="content"
            placeholder="Tapez votre message"
            formControlName="content"
            [errorText]="displayedError['content']"
            *ngIf="user.user_settings?.locked != 'true'"
          ></ion-input>
          <div slot="end">

            <ion-button
              (click)="presentActionSheetFile()"
              [disabled]="file"
              *ngIf="user.user_settings?.locked != 'true'"
            >
              <ion-icon name="attach-outline"></ion-icon>
            </ion-button>
            <input type="file" #fileInput style="display: none" (change)="handleFileInput($event)">

            <ion-button
              type="submit"
              [disabled]="!this.form.valid && !this.file"
            >
              <ion-icon name="send-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </form>
    </div>
    <div class="controls" *ngIf="coachAsNutritionist">
      <p class="helper ion-text-center">
        Le coach peut superviser les discussion du nutritionniste avec le client.
      </p>
      <br/>
    </div>
  </div>
</ion-content>
