<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ correspondent?.firstname }} {{ correspondent?.lastname === '_' ? '' : correspondent?.lastname }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <div class="messaging">
    <div class="discussion-flow ion-content-scroll-host" #discussionFlow><!-- The discussion flow -->
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" position="top">
            <div class="ion-text-center ion-padding helper">
                ....
            </div>
        </ion-infinite-scroll>
        <div *ngIf="!entityList">
            <ion-spinner class="ion-padding" style="padding-top: 20vh"></ion-spinner>
        </div>
        <div *ngIf="entityList">
          <div *ngFor="let entity of entityList" class="message" [class.received]="entity.recipient_id === user.id" [class.sent]="entity.recipient_id !== user.id">
              <ion-avatar slot="start" *ngIf="entity.recipient_id === user.id">
              <img src="{{avatar_url??'../../../assets/samples/profile-sample-1.jpg'}}" alt="Profile Picture">
            </ion-avatar>
              <div class="message-content" *ngIf="!entity.undelivered">
                  {{ entity.content }}
              </div>
              <div class="message-content undelivered" *ngIf="entity.undelivered">
                  {{ entity.content }}
              </div>
          </div>
        </div>
    </div>
    <div class="controls"><!-- The message input -->
      <form (submit)="$event.preventDefault()" [formGroup]="form">
        <ion-item>
          <ion-input
            name="content"
            placeholder="Tapez votre message"
            formControlName="content"
          ></ion-input>
          <ion-button
            slot="end"
            type="submit"
            (click)="sendMessage()"
          >
            <ion-icon name="send-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </form>
    </div>
  </div>
</ion-content>
