<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Jours de congés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar [formControl]="searchControl"
                 animated="true"
                 placeholder="Rechercher"
                 (keydown.enter)="loadData()"></ion-searchbar>
  <app-pagination
    [pageSegments]="pageSegments"
    (onNavigate)="updatePage($event)"
  ></app-pagination>

  <div class="ion-text-center">
    <ion-spinner *ngIf="!entityList" class="ion-padding" style="padding-top: 20vh"></ion-spinner>
  </div>
  <div *ngIf="entityList">
    <ion-card *ngFor="let entity of entityList">
      <ion-card-header>
        <ion-card-title>
          {{ entity.user.firstname }}
          {{ entity.user.lastname }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ entity.date | date:'longDate' }}
        – {{ entity.content }}
      </ion-card-content>
      <ion-button fill="clear" color="danger" (click)="showDeleteModal(entity.id)">Supprimer</ion-button>
      <ion-button fill="clear" (click)="showDetailsModal(entity)">Détails</ion-button>
    </ion-card>
  </div>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="showAddModal()"n>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
