<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Calculateur d'IMC</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

  <div class="calories-container ion-padding">
    <h1>Pour commencer, entrez vos informations</h1>
      <p class="helper">
          L'IMC, ou indice de masse corporel, est un calcul qui permet d'estimer
          rapidement votre corpulence. l'IMC permet aussi d'évaluer le risque
          qu'a une personne de développer certaines pathologies associées au
          surpoids et à l'obésité comme le diabète et les maladies
          cardiovasculaires par exemple.
      </p>
      <br/>
    <form [formGroup]="form">
      <ion-item>
        <ion-input
          label="Poids (kg)"
          label-placement="floating"
          formControlName="weight"
          [errorText]="displayedError.weight"
          [disabled]="!loaded"
          type="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Taille (cm)"
          label-placement="floating"
          formControlName="height"
          [errorText]="displayedError.height"
          [disabled]="!loaded"
          type="number"
        ></ion-input>
      </ion-item>
        <br/>
      <div>
        <ion-button
                shape="round"
          expand="full"
          (click)="validatePhysical()"
        >
          Calculer
          <ion-icon name="arrow-down"></ion-icon>
        </ion-button>
      </div>
    </form>

      <!--
    <div class="imc-output" *ngIf="imc">
      <h2 class="display-1 ion-text-center">
        Votre Indice de masse corporelle est de <br/>
        <em>{{ imc | number: '1.2-2' }}</em>
      </h2>
    </div>
    -->

      <br/>
      <div class="imc-indicator" *ngIf="imc">
          <h2 class="display-1 ion-text-center">
              Votre Indice de masse corporelle est de <br/>
              <em>{{ imc | number: '1.2-2' }}</em> <br/>
              <em [class]="'ion-text-' + imcColor">({{ imcLabel }})</em>
          </h2>
          <div class="slider">
              <div class="gradient"></div>
              <img src="/assets/cursor.png" width="20px" #cursor/>
          </div>
          <br/>
          <p class="ion-text-center">
              {{ imcDescription }}
          </p>
          <p>
          </p>
      </div>
      <div class="ion-text-center">
          <ion-button
                  class="long-button"
                  routerLink="/chat"
                  shape="round"
                    expand="full"
          >
              Prendre rendez-vous avec mon coach
          </ion-button>
      </div>
  </div>
</ion-content>
