

.image-picker-wrapper,
app-outline-input{
    --margin-top: 22px;
    --margin-bottom: 22px;
    --border-color: #858585;
    margin-top: 22px;
    margin-bottom: 22px;
}

form{
    padding-left: 24px;
    padding-right: 24px;
}

.label{
    font-size: 14px;
    color: #79747E;
    margin-bottom: 8px;
    display: block;
}

.chip-list{
    margin-top: -16px;
    margin-bottom: 8px;
}