<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Souscription terminé</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="display-1 ion-padding">Votre paiement a été vérifié</h1>
    <div class="ion-padding">
        <p class="helper">
            Votre souscription a été validée avec succès. Vous pouvez maintenant procéder au paiement.
        </p>
        <p>
            <!-- Ajoutez des exemples détails techniques sur la souscription -->
            Référence d'abonnement : <b>{{ subscription_reference }}</b> <br/>
            Montant : {{ subscription_price / 100 }}€ <br/>
            Type d'abonnement : {{ subscription_option }} <br/>
            Durée de l'abonnement : {{ subscription_duration }} jours <br/>
        </p>
        <p>
            <!-- Support -->

            Si vous avez des questions, n'hésitez pas à nous contacter à l'adresse suivante : <a href="mailto:">admin&#64;localhost.com</a>
        </p>
        <div>
            <!-- Go to home button -->
            <ion-button routerLink="/home" color="primary" expand="block">Retour à l'accueil</ion-button>
        </div>
    </div>
</ion-content>
