<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>test-agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">test-agenda</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item class="ion-margin-vertical">
      <ion-select
        label="Date du rendez-vous"
        label-placement="floating"
      >
        <ion-select-option>Octobre 2023</ion-select-option>
        <ion-select-option>Novembre 2023</ion-select-option>
        <ion-select-option>Décembre 2023</ion-select-option>
        <ion-select-option>Janvier 2023</ion-select-option>
        <ion-select-option>Février 2023</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin-vertical">
      <ion-select
        label="Date"
        label-placement="floating"
      >
        <ion-select-option>26 Octobre</ion-select-option>
        <ion-select-option>27 Octobre</ion-select-option>
        <ion-select-option>28 Octobre</ion-select-option>
        <ion-select-option>29 Octobre</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-datetime></ion-datetime>
    <ion-list>
      <ion-radio-group>
        <ion-item>
          <ion-radio>8h – 9h</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio>9h – 10h</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio>10h – 11h</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio>11h – 12h</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio>14h – 13h</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <p class="ion-text-center">
      Vous aurez un rendez vous avec <a href="#">John Doe</a>
    </p>
    <ion-button expand="full" type="submit">Confirmer le rendez-vous</ion-button>
  </ion-content>
</ion-content>
