<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <app-back-button></app-back-button>
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
    <ion-progress-bar value="0.777777777"></ion-progress-bar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="form" (submit)="submit()">

    <div class="ion-padding-horizontal">
      <div class="onboarding-title">
        Pratiques-tu une activité physique actuellement ? 
      </div>
      <div class="onboarding-subtitle">
        
      </div>
    </div>

    <div class="input-wrapper">
      <app-bubble-multi-selector
        [options]="everydaySportOptions"
        formControlName="everydaySport"
        [keyAccessor]="everydaySportKeyAccessor"
        [errorText]="displayedError['everydaySport']"
        mode="single"
      ></app-bubble-multi-selector>
    </div>


    <div class="onboarding-floating-bottom-1">
      <div class="ion-padding">
        <app-ux-button
          expand="block" 
          color="primary" 
          shape="round" 
          [disabled]="!form.valid"
          [loading]="isLoading"
        >
          Continuer
        </app-ux-button>
      </div>
    </div>
  </form>
</ion-content>
