<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>s7-do-sport-regularly</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">s7-do-sport-regularly</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>
    <div class="onboarding-floating-bottom-2">
      <div class="ion-padding">
        <app-ux-button
          expand="block" 
          color="primary" 
          shape="round"
          fill="outline"
          type="button"
          class="onboarding-button"
        >
          <span>Oui, régulièrement</span>
        </app-ux-button>

        <app-ux-button
          expand="block" 
          color="primary" 
          shape="round"
          type="button"
          class="onboarding-button"
        >
          <span>Non, pas régulièrement</span>
        </app-ux-button>
      </div>
    </div>
  </form>
</ion-content>
