<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Videos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="display-1 ion-padding">{{ title }}</h1>
    <div class="list-container">
        <!-- 
            [filter]="{ 'f_category': this.category }" 
        -->
        <div class="spinner-container" [class]="(isLoading?'':'hidden')">
            <ion-spinner name="crescent"></ion-spinner>
        </div>
        <app-infinite-list
            [httpHeaders]="jwtToken ? { 'Authorization': 'Bearer ' + jwtToken } : {}"
            [httpUrl]="contentService.apiEndpoint + '/videos'"
            [filter$]="filter$"
            [restrictFilter]="true"
            (afterLoad)="onAfterLoad($event)"
            *ngIf="true"
        >
            <ng-template let-item>
                <!-- WARNING, the video availability should be computed from the backend model -->
                <div class="video-card ion-padding" [ngClass]="{ 'locked': (user?.function == 'customer' || !user) && !item.available }">
                    <div class="left" (click)="goToVideo(item.id)">
                        <img src="/assets/logo-light-1024x1024-noalpha.jpg" alt="Vidéo thumbnail" class="card-image" *ngIf="!item.thumbnail"/>
                        <img [src]="getUrl(item.thumbnail.permalink)" alt="Vidéo thumbnail" class="card-image" *ngIf="item.thumbnail"/>
                        <ion-icon name="play-circle-outline"></ion-icon>
                    </div>
                    <div class="right">
                        <h3 class="card-title" (click)="goToVideo(item.id)">
                            {{ item['title'] }}
                        </h3>
                        <p>
                            <ion-badge color="medium" *ngIf="item.hidden">Private</ion-badge>
                        </p>
                        <div class="stars" *ngIf="false"><!-- Hide it for now, maybe later -->
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <p>{{ item['description'] }}</p>
                        <p *ngIf="user?.function == 'admin' || user?.function == 'coach'">
                            <b>Accessible par :</b>
                            <span>
                                <span class="capitalize" *ngFor="let privilege of item.privilege; let i = index"><span *ngIf="i > 0">,</span>
                                     {{ privilege }}
                                </span>
                            </span>
                        </p>
                    </div>
                    <div class="placeholder"></div>
                    <!-- WARNING, the video availability should be computed from the backend model -->
                    <div class="privilege-banner" *ngIf="(user?.function == 'customer' || !user) && !item.available">
                        Cette vidéo est réservé aux membres 
                            <span *ngIf="item.privilege[0] != 'alonzo'"><b>{{ item.privilege[0] }}</b> ou supérieur</span>
                            <span *ngIf="item.privilege[0]"><b>{{ item.privilege | displayList:0 }}</b></span>
                    </div>
                </div>
            </ng-template>
        </app-infinite-list>
        <!--
        <div *ngIf="videos.length === 0" class="ion-padding">
            <p>Aucune vidéo disponible pour le moment</p>
        </div>
        -->
    </div>

</ion-content>
