<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>S'abonner à nos services</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="display-1 ion-padding">Facture</h1>

    <div class="ion-padding">
        <table *ngIf="invoice[0]">
            <thead>
                <tr>
                    <th></th>
                    <th>Désignation</th>
                    <th>Prix TTC</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of invoice">
                    <td>{{ row.id }}</td>
                    <td>{{ row.title }}
                        <span class="helper">
                            Abonnement mensuel sans engagement
                        </span>
                    </td>
                    <td>{{ row.price }} €</td>
                </tr>
            <!-- the total -->
                <tr>
                    <td></td>
                    <td><strong>Total</strong></td>
                    <td><strong>{{ invoice[0].price }} €</strong></td>
                </tr>
            </tbody>
        </table>

        <form>
            <br/>
            <!-- A fake checkbox for accepting the terms -->
            <ion-item>
                <ion-label>Accepter les conditions d'abonnement</ion-label>
                <ion-checkbox [formControl]="acceptConditions" slot="end" color="primary"></ion-checkbox>
            </ion-item>
            <!-- Another fake checkbox for accepting the terms -->
            <!--
            <ion-item>
                <ion-label>Accepter les conditions d'utilisation</ion-label>
                <ion-checkbox slot="end" color="primary"></ion-checkbox>
            </ion-item>
            -->

            <!-- Payer -->
            <div class="ion-text-right">
                <br/>
                <ion-button color="primary" (click)="goToPayment()">Payer maintenant</ion-button>
            </div>
        </form>
    </div>

</ion-content>