
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Welcome</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h1 class="display-1 ion-padding ion-text-lg ion-text-center">Bienvenue sur Training Day</h1>
    <div class="logo">
        <!-- Logo -->
        <!-- Show dark or light logo depending on the theme -->
        <img src="assets/logo-infographic-only.png" alt="Training Day" class="ion-padding">
    </div>

    <div class="welcome-menu">
        <ion-button expand="full" type="submit" (click)="goTo('/home')" color="primary" shape="round" fill="outline">Fil d'actualité</ion-button>
        <ion-button expand="full" type="submit" (click)="goTo('/chat')" color="primary" shape="round" fill="outline">
            {{(user?.role_id===2)?'Mon coach':'Messagerie'}}
        </ion-button>

        <!-- Videos -->
        <!-- Training every day -->
        <ion-button expand="full" type="submit" (click)="goTo('/videos/training')" color="primary" shape="round" fill="outline">Training of the Day</ion-button>
        <ion-button expand="full" type="submit" (click)="goTo('/videos/boxing')" color="primary" shape="round" fill="outline">Boxing Every Day</ion-button>

        <!-- IMC -->
        <ion-button expand="full" type="submit" (click)="goTo('/app-imc')" color="primary" shape="round" fill="outline">Calculateur d'IMC</ion-button>
        <!-- Calories -->
        <ion-button expand="full" type="submit" (click)="goTo('/app-calories')" color="primary" shape="round" fill="outline">Calculateur de Calories</ion-button>
        <!-- Timer -->
        <ion-button expand="full" type="submit" (click)="goTo('/app-timer')" color="primary" shape="round" fill="outline">Timer</ion-button>
        <!-- Course -->
        <ion-button expand="full" type="submit" (click)="goTo('/app-gps')" color="primary" shape="round" fill="outline">Course</ion-button>
        <!-- Boutique -->
        <ion-button expand="full" type="submit" (click)="goTo('/subscriptions')" color="primary" shape="round" fill="outline">Boutique</ion-button>
        <!-- Se connecter -->
        <div *ngIf="user">
            <ion-button expand="full" type="submit" (click)="goTo('/logout')" color="primary" shape="round" fill="outline">Se déconnecter</ion-button>
        </div>
        <div *ngIf="!user">
            <ion-button expand="full" type="submit" (click)="goTo('/login')" color="primary" shape="round" fill="outline">Se connecter</ion-button>
        </div>
        <hr/>
        <div class="social-media">
            <ion-button expand="full" color="primary" shape="round" fill="outline" (click)="goTo('https://www.instagram.com/trainingday_officiel/')">
                <ion-icon name="logo-instagram"></ion-icon>
                Suivez nous sur Instagram
            </ion-button>
            <ion-button expand="full" color="primary" shape="round" fill="outline" (click)="goTo('https://www.tiktok.com/@trainingday_officiel')">
                <ion-icon name="logo-tiktok"></ion-icon>
                Suivez nous sur Tiktok
            </ion-button>
        </div>

        <hr/>
    </div>
    <img id="bg" src="assets/logo-infographic-only.png" alt="Training Day" class="ion-padding">
    <p class="helper ion-text-center">
        Tous droits réservés | Copyright &copy; 2024
    </p>
</ion-content>
