
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Bienvenue</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>
        <h1 class="display-1 ion-padding ion-text-lg ion-text-center">Bienvenue</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>


    <div class="logo">
        <img src="assets/logo-light-cropped.png" alt="Training Day" class="ion-padding" *ngIf="!useDarkMode">
        <img src="assets/logo-dark-cropped.png" alt="Training Day" class="ion-padding" *ngIf="useDarkMode">
    </div>

    <div class="welcome-menu">
        <ion-button expand="full" type="submit" (click)="goTo('/home')" color="primary" shape="round" fill="outline">Fil d'actualité</ion-button>
        <ion-button expand="full" type="submit" (click)="goTo('/chat')" color="primary" shape="round" fill="outline">
            {{(user?.role_id===2)?'Mon coach':'Messagerie'}}
        </ion-button>

        <!-- Videos -->
        <!-- Training every day -->
        <ion-accordion-group>
            <ion-accordion value="folder-training-w">
                <ion-button expand="full" color="primary" shape="round" fill="outline" slot="header">
                    Training of the Day
                </ion-button>
                <div slot="content">
                    <ion-button expand="full" fill="clear" (click)="goTo('/videos/training/corps-entier')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                          <img src="../../../assets/icon/training-corps-entier-transparent.png" alt="Corps entier">
                        </div>
                        Le corps entier
                      </div>
                    </ion-button>
                    <ion-button expand="full" fill="clear" (click)="goTo('/videos/training/bras')">
                      <div class="inner">
                        <div class="img-container" slot="start">
                        <img src="../../../assets/icon/training-bras-epaules-transparent.png" alt="Bras et épaules">
                      </div>
                      Bras et épaules
                      </div>
                    </ion-button>
                    <ion-button expand="full" fill="clear" (click)="goTo('/videos/training/abdos')">
                      <div class="inner">
                        <div class="img-container" slot="start">
                        <img src="../../../assets/icon/training-abdos-transparent.png" alt="Abdos">
                      </div>
                      Abdos
                      </div>
                    </ion-button>
                    <ion-button expand="full" fill="clear" (click)="goTo('/videos/training/jambes')">
                      <div class="inner">
                        <div class="img-container" slot="start">
                        <img src="../../../assets/icon/training-jambes-transparent.png" alt="Jambes">
                      </div>
                      Jambes
                      </div>
                    </ion-button>
                    <ion-button expand="full" fill="clear" (click)="goTo('/videos/training/fessiers')">
                      <div class="inner">
                        <div class="img-container" slot="start">
                        <img src="../../../assets/icon/training-fessiers-transparent.png" alt="Fessiers">
                      </div>
                      Fessiers
                      </div>
                    </ion-button>
                    <ion-button expand="full" fill="clear" (click)="goTo('/videos/training/pectoraux')">
                      <div class="inner">
                        <div class="img-container" slot="start">
                          <img src="../../../assets/icon/training-pectoraux-transparent.png" alt="Pectoraux">
                        </div>
                        Pectoraux
                      </div>
                    </ion-button>
                    <ion-button expand="full" fill="clear" (click)="goTo('/videos/training/dos')">
                      <div class="inner">
                        <div class="img-container" slot="start">
                          <img src="../../../assets/icon/training-dos-transparent.png" alt="Dos">
                        </div>
                        Dos
                      </div>
                    </ion-button>
                </div>
            </ion-accordion>
        </ion-accordion-group>
        
        <ion-accordion-group>
            <ion-accordion value="folder-boxing">
                <ion-button expand="full" type="submit" color="primary" shape="round" fill="outline" slot="header">Boxing Every Day</ion-button>
                <div slot="content">
                    <ion-button expand="full" fill="clear" (click)="goTo('/videos/boxing/base')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/boxing-base-orange.png" alt="Base">
                          </div>
                          Base
                        </div>
                    </ion-button>
                    <ion-button expand="full" fill="clear" (click)="goTo('/videos/boxing/poings')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/boxing-poings-orange.png" alt="Poings">
                          </div>
                          Poings
                        </div>
                    </ion-button>
                    <ion-button expand="full" fill="clear" (click)="goTo('/videos/boxing/pieds-genoux')">
                      <div class="inner">
                        <div class="img-container" slot="start">
                          <img src="../../../assets/icon/boxing-pieds-poings-genoux-orange.png" alt="Pieds, poings et genoux">
                        </div>
                        Pieds et genoux
                      </div>
                    </ion-button>
                    <ion-button expand="full" fill="clear" (click)="goTo('/videos/boxing/pieds-poings-genoux')" >
                      <div class="inner">
                        <div class="img-container" slot="start">
                          <img src="../../../assets/icon/boxing-pieds-genoux-orange.png" alt="Pieds et genoux">
                        </div>
                        Pieds, poings et genoux
                      </div>
                    </ion-button>
                </div>
            </ion-accordion>
        </ion-accordion-group>

        

        
        <!-- IMC -->
        <ion-button expand="full" type="submit" (click)="goTo('/app-imc')" color="primary" shape="round" fill="outline">Calculateur d'IMC</ion-button>
        <!-- Calories -->
        <ion-button expand="full" type="submit" (click)="goTo('/app-calories')" color="primary" shape="round" fill="outline">Calculateur de Calories</ion-button>
        <!-- Timer -->
        <ion-button expand="full" type="submit" (click)="goTo('/app-timer')" color="primary" shape="round" fill="outline">Timer</ion-button>
        <!-- Course -->
        <ion-button expand="full" type="submit" (click)="goTo('/app-gps')" color="primary" shape="round" fill="outline">Course</ion-button>
        <!-- Suivi du poids -->
        <ion-button expand="full" type="submit" (click)="goTo('/app-weight-tracking')" color="primary" shape="round" fill="outline">Suivi du poids</ion-button>

        <!-- Boutique -->
        <ion-button expand="full" type="submit" (click)="goTo('/subscriptions')" color="primary" shape="round" fill="outline">Boutique</ion-button>
        <!-- Se connecter -->
        <div *ngIf="user">
            <ion-button expand="full" type="submit" (click)="contentService.logout()" color="primary" shape="round" fill="outline">Se déconnecter</ion-button>
        </div>
        <div *ngIf="!user">
            <ion-button expand="full" type="submit" (click)="goTo('/login')" color="primary" shape="round" fill="outline">Se connecter</ion-button>
        </div>
        <hr/>
        <div class="social-media">
            <ion-button expand="full" color="primary" shape="round" fill="outline" (click)="goTo('https://www.instagram.com/trainingday_officiel/')">
                <ion-icon name="logo-instagram"></ion-icon>
                Suivez nous sur Instagram
            </ion-button>
            <ion-button expand="full" color="primary" shape="round" fill="outline" (click)="goTo('https://www.tiktok.com/@trainingday_officiel')">
                <ion-icon name="logo-tiktok"></ion-icon>
                Suivez nous sur Tiktok
            </ion-button>
        </div>

        <hr/>
    </div>
    <img id="bg" src="assets/logo-infographic-only.png" alt="Training Day" class="ion-padding">
    <p class="helper ion-text-center">
        Tous droits réservés | Copyright &copy; 2024
    </p>
</ion-content>
