<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Création de compte terminé</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h1 class="display-1">
      Vérification requis
    </h1>
    <p class="helper">
      Un email de vérification vous a été envoyé. Veuillez vérifier votre boîte de réception et cliquer sur le lien de vérification.
    </p>
    <div class="ion-padding-vertical">
      <ion-button
        expand="block"
        fill="solid"
        color="primary"
        routerLink="/"
      >
        Retourner à la page d'accueil
      </ion-button>
    </div>
  </div>
</ion-content>
