
<ion-header>
  <ion-toolbar color="" id="menu-header" class='' *ngIf="user">
      <h3 id="menu-branding" class="display-1 ion-text-center">
          Training-day
      </h3>
      <br/>
    <div class="profile-container">
      <div class="profile-image">
        <ion-avatar>
            <!-- Default picture -->
            <img *ngIf="user?.profile_image?.permalink"
                 [src]="getStaticUrl(user?.profile_image?.permalink)" alt="Profile Picture">
          <img *ngIf="!user?.profile_image?.permalink" src="../../../assets/samples/profile-sample-1.jpg" alt="Profile Picture">
        </ion-avatar>
      </div>
      <div class="profile-name" *ngIf="user">
        <span>{{ user.firstname }} {{ user.lastname }}</span>
      </div>
    </div>
  </ion-toolbar>
    <ion-toolbar *ngIf="!user">
        <ion-title>Training-day</ion-title>
    </ion-toolbar>
</ion-header>
<!-- the below message doesn't work on web -->
<!-- {{ (themeService.isDarkModeEnabled)?'dark':'light' }} -->
<ion-list lines="none" [class]="(themeService.isDarkModeEnabled)?'dark':'light'">
    <ion-button (click)="menuNavigate('/welcome-menu')" expand="full" fill="clear">Menu</ion-button>
    <ion-button (click)="menuNavigate('/home')" expand="full" fill="clear">Astuces et conseils</ion-button>
    <ion-button (click)="menuNavigate('/app-timer')" expand="full" fill="clear">Timer</ion-button>
    <ion-button (click)="menuNavigate('/app-gps')" expand="full" fill="clear">Course</ion-button>
    <ion-button (click)="menuNavigate('/app-imc')" expand="full" fill="clear">Calcul IMC</ion-button>
    <ion-button (click)="menuNavigate('/app-calories')" expand="full" fill="clear">Calc. calories</ion-button>
    <ion-button (click)="menuNavigate('/app-weight-tracking')" expand="full" fill="clear">Suivi du poids</ion-button>

    <ion-button (click)="menuNavigate('/subscriptions')" expand="full" fill="clear" *ngIf="user?.function === 'customer'">
        Boutique
    </ion-button>

    <!-- ion-accordeon -->
    <ion-accordion-group>
        <ion-accordion value="first">
            <ion-button expand="full" fill="clear" slot="header">Vidéos <ion-icon slot="end" name="chevron-forward-outline"/></ion-button>
            <div class="ion-padding" slot="content">
                <ion-accordion-group>
                  <ion-accordion value="folder-training">
                    <ion-button expand="full" fill="clear" slot="header">Training of the day<ion-icon slot="end" name="chevron-forward-outline"/></ion-button>
                    <div slot="content">
                      <ion-button expand="full" fill="clear" (click)="menuNavigate('/videos/training/corps-entier')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/training-corps-entier-transparent.png" alt="Corps entier">
                          </div>
                          Le corps entier
                        </div>
                      </ion-button>
                      <ion-button expand="full" fill="clear" (click)="menuNavigate('/videos/training/bras')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/training-bras-epaules-transparent.png" alt="Bras et épaules">
                          </div>
                          Bras et épaules
                        </div>
                      </ion-button>
                      <ion-button expand="full" fill="clear" (click)="menuNavigate('/videos/training/abdos')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/training-abdos-transparent.png" alt="Abdos">
                          </div>
                          Abdos
                        </div>
                      </ion-button>
                      <ion-button expand="full" fill="clear" (click)="menuNavigate('/videos/training/jambes')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/training-jambes-transparent.png" alt="Jambes">
                          </div>
                          Jambes
                        </div>
                      </ion-button>
                      <ion-button expand="full" fill="clear" (click)="menuNavigate('/videos/training/fessiers')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/training-fessiers-transparent.png" alt="Fessiers">
                          </div>
                          Fessiers
                        </div>
                      </ion-button>
                      <ion-button expand="full" fill="clear" (click)="menuNavigate('/videos/training/pectoraux')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/training-pectoraux-transparent.png" alt="Pectoraux">
                          </div>
                          Pectoraux
                        </div>
                      </ion-button>
                      <ion-button expand="full" fill="clear" (click)="menuNavigate('/videos/training/dos')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/training-dos-transparent.png" alt="Dos">
                          </div>
                          Dos
                        </div>
                      </ion-button>
                      <!--  (click)="menuNavigate('/videos/training')" -->
                    </div>
                  </ion-accordion>
                </ion-accordion-group>
                
                <ion-accordion-group>
                  <ion-accordion value="folder-boxing">
                    <ion-button expand="full" fill="clear" slot="header">Boxing every day<ion-icon slot="end" name="chevron-forward-outline"/></ion-button>
                    <div slot="content">
                      <ion-button expand="full" fill="clear" (click)="menuNavigate('/videos/boxing/base')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/boxing-base-orange.png" alt="Base">
                          </div>
                          Base
                        </div>
                      </ion-button>
                      <ion-button expand="full" fill="clear" (click)="menuNavigate('/videos/boxing/poings')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/boxing-poings-orange.png" alt="Poings">
                          </div>
                          Poings
                        </div>
                      </ion-button>
                      <ion-button expand="full" fill="clear" (click)="menuNavigate('/videos/boxing/pieds-genoux')">
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/boxing-pieds-genoux-orange.png" alt="Pieds et genoux">
                          </div>
                          Pieds et genoux
                        </div>
                      </ion-button>
                      <ion-button expand="full" fill="clear" (click)="menuNavigate('/videos/boxing/pieds-poings-genoux')" >
                        <div class="inner">
                          <div class="img-container" slot="start">
                            <img src="../../../assets/icon/boxing-pieds-poings-genoux-orange.png" alt="Pieds, poings et genoux">
                          </div>
                          Pieds, poings et genoux
                        </div>
                      </ion-button>
                    </div>
                  </ion-accordion>
                </ion-accordion-group>
            </div>
        </ion-accordion>
    </ion-accordion-group>


    <div *ngIf="!user">
        <ion-button (click)="menuNavigate('/login')" expand="full" fill="clear">Se connecter</ion-button>
    </div>
    <div *ngIf="user?.function === 'customer' || user?.function === 'coach' || user?.function === 'nutritionist'">
        <h4>Espace personnel</h4>
        <ion-button (click)="menuNavigate('/profile')" expand="full" fill="clear">Mon profil</ion-button>
        <ion-button (click)="menuNavigate('/chat')" expand="full" fill="clear">
            {{user.function==='customer'?'Mon coach':'Messagerie'}}
            <ion-chip *ngIf="unreadMessages > 0" color="danger">
              {{ unreadMessages }}
            </ion-chip>
        </ion-button>

    </div>
    <!-- Espace coaching -->
    <div *ngIf="user?.function === 'coach'">

      <h4>Administration</h4>
      <ion-button (click)="menuNavigate('/manage/files/view')" expand="full" fill="clear">
        Fichiers
      </ion-button>
      <ion-button (click)="menuNavigate('/manage/users/view')" expand="full" fill="clear">
        Utilisateurs
      </ion-button>
      <ion-button (click)="menuNavigate('/manage/payments/view')" expand="full" fill="clear">
        Paiements
      </ion-button>
        <ion-button (click)="menuNavigate('/manage-personal-trainer')" expand="full" fill="clear">Enregistrer une séance</ion-button>
        <ion-button (click)="menuNavigate('/video-upload')" expand="full" fill="clear">
          Uploader une vidéo
        </ion-button>
    </div>

    <div *ngIf="user?.function === 'admin'">
        <h4>Espace Admin</h4>
        <ion-button (click)="menuNavigate('/profile')" expand="full" fill="clear">Mon profil</ion-button>
        <ion-button (click)="menuNavigate('/chat')" expand="full" fill="clear">
            Messagerie
            <ion-chip *ngIf="unreadMessages" color="danger">{{ chatService.unreadMessages$ | async }}</ion-chip>
        </ion-button>
        <ion-button (click)="menuNavigate('/video-upload')" expand="full" fill="clear">
            Uploader une vidéo
        </ion-button>
    </div>

  <div *ngIf="user?.function === 'admin'">
  <h4>Administration</h4>

  <ion-button (click)="menuNavigate('/manage/')" expand="full" fill="clear">
    Tableau de bord
  </ion-button>
  <ion-button (click)="menuNavigate('/manage/files/view')" expand="full" fill="clear">
    Fichiers
  </ion-button>
  <!--
  <ion-button (click)="menuNavigate('/manage/agencies/view')" expand="full" fill="clear">
    Agences
  </ion-button>
  -->
  <!--
  <ion-button (click)="menuNavigate('/manage/dayoff/view')" expand="full" fill="clear">
    Jours fériés
  </ion-button>
  -->
  <ion-button (click)="menuNavigate('/manage/appointments/view')" expand="full" fill="clear">
    Rendez-vous
  </ion-button>
  <ion-button (click)="menuNavigate('/manage/users/view')" expand="full" fill="clear">
    Utilisateurs
  </ion-button>
  <ion-button (click)="menuNavigate('/manage/posts/view')" expand="full" fill="clear">
    Articles
  </ion-button>
  <ion-button (click)="menuNavigate('/manage/payments/view')" expand="full" fill="clear">
    Mes payments
  </ion-button>
  <ion-button (click)="menuNavigate('/manage/posts/view')" expand="full" fill="clear">
    Mes articles
  </ion-button>
  </div>

  <h4></h4>
    <div *ngIf="user">
        <ion-button (click)="contentService.logout()" expand="full" fill="clear">Se déconnecter</ion-button>
    </div>

</ion-list>

<ion-footer>
    <p>© 2024 Training day. All Rights Reserved.</p>
</ion-footer>
