
<ion-header>
  <ion-toolbar color="" id="menu-header" class='' *ngIf="user">
      <h3 id="menu-branding" class="display-1 ion-text-center">
          Training-day
      </h3>
      <br/>
    <div class="profile-container">
      <div class="profile-image">
        <ion-avatar>
            <!-- Default picture -->
            <img *ngIf="user?.profile_image?.permalink"
                 [src]="getStaticUrl(user?.profile_image?.permalink)" alt="Profile Picture">
          <img *ngIf="!user?.profile_image?.permalink" src="../../../assets/samples/profile-sample-1.jpg" alt="Profile Picture">
        </ion-avatar>
      </div>
      <div class="profile-name" *ngIf="user">
        <span>{{ user.firstname }} {{ user.lastname }}</span>
      </div>
    </div>
  </ion-toolbar>
    <ion-toolbar *ngIf="!user">
        <ion-title>Training-day</ion-title>
    </ion-toolbar>
</ion-header>

<ion-list lines="none">
    <ion-button (click)="menuNavigate('/welcome-menu')" expand="full" fill="clear">Menu</ion-button>
    <!--
    <ion-button (click)="menuNavigate('/timeline')" expand="full" fill="clear">Fil d'actualité</ion-button>
    -->
    <ion-button (click)="menuNavigate('/home')" expand="full" fill="clear">Astuces et conseils</ion-button>
    <ion-button (click)="menuNavigate('/app-timer')" expand="full" fill="clear">Timer</ion-button>
    <ion-button (click)="menuNavigate('/app-gps')" expand="full" fill="clear">Course</ion-button>
    <ion-button (click)="menuNavigate('/app-imc')" expand="full" fill="clear">Calcul IMC</ion-button>
    <ion-button (click)="menuNavigate('/app-calories')" expand="full" fill="clear">Calc. calories</ion-button>
    <ion-button (click)="menuNavigate('/subscriptions')" expand="full" fill="clear">Boutique</ion-button>

    <div *ngIf="!user">
        <ion-button (click)="menuNavigate('/login')" expand="full" fill="clear">Se connecter</ion-button>
    </div>
    <div *ngIf="user?.role === 'customer' || user?.role_id === 2 || user?.role_id === 3">
        <h4>Espace personnel</h4>
        <!--<ion-button (click)="menuNavigate('/communities')" expand="full" fill="clear">Mes communautés</ion-button>-->
        <ion-button (click)="menuNavigate('/profile')" expand="full" fill="clear">Mon profil</ion-button>
        <ion-button (click)="menuNavigate('/chat')" expand="full" fill="clear">
            {{user.role_id===2?'Mon coach':'Messagerie'}}
            <ion-chip *ngIf="unreadMessages" color="danger">{{ unreadMessages }}</ion-chip>
        </ion-button>
        <!--<ion-button (click)="menuNavigate('/goals')" expand="full" fill="clear">Mes suivis</ion-button>-->
        <!--<ion-button (click)="menuNavigate('/programs')" expand="full" fill="clear">Programmes</ion-button>-->
    </div>
    <div *ngIf="user?.role_id === 1">
        <h4>Espace Admin</h4>
        <ion-button (click)="menuNavigate('/profile')" expand="full" fill="clear">Mon profil</ion-button>
        <ion-button (click)="menuNavigate('/chat')" expand="full" fill="clear">
            Messagerie
            <ion-chip *ngIf="unreadMessages" color="danger">{{ unreadMessages }}</ion-chip>
        </ion-button>
        <ion-button (click)="menuNavigate('/video-upload')" expand="full" fill="clear">
            Uploader une vidéo
        </ion-button>
    </div>
    <div *ngIf="user?.role === 'coach'">
        <h4>Espace coaching</h4>
        <ion-button (click)="menuNavigate('/chat')" expand="full" fill="clear">
            Messagerie
        </ion-button>
        <ion-button (click)="menuNavigate('/profile')" expand="full" fill="clear">Mon profil</ion-button>
    </div>

  <div *ngIf="user?.role === 'admin'">
  <h4>Administration</h4>

  <ion-button (click)="menuNavigate('/manage/')" expand="full" fill="clear">
    Tableau de bord
  </ion-button>
  <ion-button (click)="menuNavigate('/manage/files/view')" expand="full" fill="clear">
    Fichiers
  </ion-button>
  <!--
  <ion-button (click)="menuNavigate('/manage/agencies/view')" expand="full" fill="clear">
    Agences
  </ion-button>
  -->
  <!--
  <ion-button (click)="menuNavigate('/manage/dayoff/view')" expand="full" fill="clear">
    Jours fériés
  </ion-button>
  -->
  <ion-button (click)="menuNavigate('/manage/appointments/view')" expand="full" fill="clear">
    Rendez-vous
  </ion-button>
  <ion-button (click)="menuNavigate('/manage/users/view')" expand="full" fill="clear">
    Utilisateurs
  </ion-button>
  <ion-button (click)="menuNavigate('/manage/posts/view')" expand="full" fill="clear">
    Articles
  </ion-button>
  <ion-button (click)="menuNavigate('/manage/payments/view')" expand="full" fill="clear">
    Mes payments
  </ion-button>
  <ion-button (click)="menuNavigate('/manage/posts/view')" expand="full" fill="clear">
    Mes articles
  </ion-button>
  </div>

  <h4></h4>
    <div *ngIf="user">
        <ion-button (click)="menuNavigate('/logout')" expand="full" fill="clear">Se déconnecter</ion-button>
    </div>

</ion-list>

<ion-footer>
    <p>© 2023 Training day. All Rights Reserved.</p>
</ion-footer>
