.page{
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-content{
  flex: 1;
  overflow: visible;
}

// THe toolbar having the username and the call to action
#menu-header{
  padding: .8em;
  padding-top: 3em;
  ion-row{
    display: flex;
    align-items: center;
  }
  ion-title{
  }
}

ion-list{
  padding: 1em 0em;
}

ion-list ion-item ion-label{
  display: flex!important;
  align-items: center!important;
  ion-badge{
    margin-left: 1em;
  }
}

ion-footer{
  padding: 1em;
  text-align: center;
  color: var(--ion-color-medium);
}

ion-list h4{
  margin-top: 4em;
  text-transform: uppercase;
  text-align: center;
  font-size: .8em;
}

// The profile container
.profile-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  // Put in center
  align-content: center;
  .profile-image{

  }
  .profile-name{
    font-size: 1.3em;
    padding: .5em;
  }
}

#menu-branding{

  &:after {
    content:"";
    float:left;
    background:var(--ion-color-primary);
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
    height:6px;
    border-radius: 3px;
  }
}

ion-accordion{
  background: transparent;
}

ion-button{ // Warning, reused component
  .img-container{
    height: 2em;
    width: 2em;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    padding-right: 1em;
    position: relative;
    margin-right: 0.6em;
    //background: var(--ion-color-light);
    & img{
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // Put the white background as transparent
      //mix-blend-mode: multiply!important;

    }
  }
}

ion-accordion [value=folder-boxing]{
  & .img-container{
    // background: var(--ion-color-primary);
    &>img{
    //  display: none;
    }
  }  
}

// Code patch to align the video menu to be left
ion-accordion-group ion-button > div.inner{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}