
<ion-header>
  <ion-toolbar color="primary" id="menu-header">
    <div class="profile-container">
      <div class="profile-image">
        <ion-avatar>
          <img src="../../../assets/samples/profile-sample-1.jpg" alt="Profile Picture">
        </ion-avatar>
      </div>
      <div class="profile-name">
        <span>John Doe</span>
      </div>
    </div>

    <ion-row>
      <!-- Call to Action - "Go Premium" Button -->
      <ion-col size="2" class="ion-text-end">
        <ion-button routerLink="/premium" color="warning">
          Go Premium
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-list lines="none">
  <ion-item routerLink="/">
    <ion-label>Mon compte</ion-label>
  </ion-item>
  <ion-item routerLink="/">
    <ion-label>Mes paiements</ion-label>
  </ion-item>
  <ion-item routerLink="/">
    <ion-label>Articles</ion-label>
  </ion-item>
  <ion-item routerLink="/">
    <ion-label>Communautés</ion-label>
  </ion-item>
  <ion-item routerLink="/">
    <ion-label>Découvrir</ion-label>
  </ion-item>
  <ion-item routerLink="/">
    <ion-label>Messages
      <ion-badge slot="end" color="danger">5</ion-badge>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/">
    <ion-label>Chronomètre</ion-label>
  </ion-item>
  <ion-item routerLink="/">
    <ion-label>Calcul IMC</ion-label>
  </ion-item>
  <ion-item routerLink="/">
    <ion-label>Calculateur de calories</ion-label>
  </ion-item>
</ion-list>

<ion-footer>
    <p>© 2023 Your Company. All Rights Reserved.</p>
</ion-footer>
